[2018-01-03 08:43] dennisdoomen commented on #592
Sure. I'll do a review myself of the whole document after I finally finish #588

[2018-01-04 13:37] #587 closed

[2018-01-04 21:49] jnyrup opened #720 "Problems upgrading xUnit dependency"
I'm trying to upgrade xUnit from the current 2.3.0-beta5 to some stable version.

Upgrading to 2.3.0-rc2, 2.3.0 or 2.3.1 causes:
 *only* `FluentAssertions.Specs.FormatterSpecs.When_a_custom_formatter_exists_in_any_loaded_assembly_it_should_override_the_default_formatters`
 to fail for *only* `NetCore.Specs`
 *only* when running build.ps1

I made the tests run by modifying the Cake script to use `D

[2018-01-05 06:24] dennisdoomen commented on #720
That specific unit test is using assembly scanning to find a custom value formatter. Maybe something changed in the way Xunit deals with AppDomains again.

[2018-01-05 06:27] #551 closed

[2018-01-05 07:50] jnyrup commented on #720
`NetStandardReflector.GetAllTypesFromAppDomain` behaves different.
I'll investigate

[2018-01-05 09:45] krajek commented on #568
It is being implemented in #710

[2018-01-05 13:19] krajek commented on #489
@dennisdoomen I would like to tackle it, any objections?

[2018-01-05 14:15] dennisdoomen commented on #489
Sure, but please base your branch on https://github.com/dennisdoomen/fluentassertions/tree/CallerContext, which I'm going to merge today or tomorrow (as part of #498).

[2018-01-06 15:34] dennisdoomen commented on #489
My changes have been merged to the `release-5.0` branch, so no need to do anything special anymore.

[2018-01-06 18:14] dennisdoomen commented on #498
This has now been completed and will be part of the next 5.0.0 beta/rc.

[2018-01-06 18:14] #498 closed

[2018-01-06 18:15] dennisdoomen commented on #588
Documentation will be updated separately.

An important change is that this only works correctly if the unit tests are build without optimization and inlining (i.o.w. debug builds).

[2018-01-06 18:15] #588 closed

[2018-01-06 18:18] dennisdoomen commented on #706
Is anybody working on this?

[2018-01-06 18:19] #679 closed

[2018-01-06 18:20] dennisdoomen commented on #635
So are we done?

[2018-01-06 18:23] dennisdoomen commented on #545
No response in 9 months, so closing it.

[2018-01-06 18:23] #545 closed

[2018-01-06 18:24] dennisdoomen commented on #1
@leomicheloni do you still intent to pick this up?

[2018-01-06 21:09] #693 closed

[2018-01-07 06:31] mkoertgen commented on #635
I think so.

[2018-01-07 07:55] dennisdoomen commented on #544
I've just tried your last examples on `release-5.0` and they all consistently fail until I have `A` implement `IComparable<A>`.

[2018-01-07 14:19] #557 closed

[2018-01-07 15:04] leomicheloni commented on #1
Hi @dennisdoomen , my apologies I had a really busy end of year. If nobody else is going to pick this up I can try to do that this month, just let me know if you are in a hurry about this issue or you can wait a little more. Thanks a lot!

[2018-01-07 16:39] dennisdoomen commented on #1
No hurries.

[2018-01-07 19:48] krajek commented on #489
@shift-evgeny mentioned `WithExpectation` method which is already using lazy calculation. It was implemented in the meantime in b444a390aeeaa08b6309782b97f97a3bae8c9bc1.

`FailWith`, just as `WithExpectation`, formats message only when the test failed.

The last missing piece `BecauseOf`, which eagerly formatted `reason`, is changed to lazy in PR #725.

It seems to me, that the PR will complete th

[2018-01-07 20:08] #489 closed

[2018-01-07 22:22] jnyrup commented on #503
This is fixed with #588 which will be a part of the upcoming 5.0.0.

The failure message will now be:
[code]

Note that for this to work, your test needs to:
* target full .net framework or .netcore 2.0
* be build in debug mode (https://github.com/fluentassertions/fluentassertions/issues/588#issuecomment-355765033)

[2018-01-07 22:32] jnyrup commented on #537
We have improved this area for the upcoming 5.0.0 in #653 and added
[code]

Here are two extracts from the tests of what this enables you to assert.

[code]

[2018-01-08 06:34] #503 closed

[2018-01-08 07:44] MJLHThomassen-Eurocom commented on #693
Thanks!

[2018-01-08 07:46] MJLHThomassen-Eurocom commented on #706
@dennisdoomen I had a short look at it but I'm afraid my knowledge of the code layout is too limited to just go adding stuff in places i 'think' it belongs. Perhaps I will have a more extensive look should I have some spare time at the end of my current Sprint.

[2018-01-08 07:51] dennisdoomen commented on #706
I understand. The beauty of a PR is that it allows code reviews and such. You could even ask for a preliminary review.

[2018-01-08 09:47] MJLHThomassen-Eurocom commented on #706
I just decided that this would probably be forgotten if i didnt do it right away so here goes: #727

[2018-01-08 09:52] kevinkuszyk commented on #635
Agreed.  If there's anything outstanding we can open issues on the individual repros.

[2018-01-08 09:52] #635 closed

[2018-01-08 21:24] jnyrup commented on #435
@dennisdoomen Do you recall why it wasn't a simple fix?
I tried adding overloads of `Should<T>()` for unsigned types and that seemed to work.

[2018-01-08 21:45] leomicheloni commented on #1
Hi, when I try to run the uni tests there are 86 failing, what I'm doing wrong? Thanks!

[2018-01-09 06:28] dennisdoomen commented on #435
I think it had to do with the nullable assertion extensions, but I'm not sure.

[2018-01-09 06:28] dennisdoomen commented on #1
Which branch?

[2018-01-09 06:31] dennisdoomen commented on #1
Just tried it on Rider 2017.3 and Visual Studio 2017 on my work machine and all runs fine. Can you share a stackdump/exception trace?

[2018-01-09 15:04] dennisdoomen opened #730 "The assembly version is not correct"

[2018-01-09 16:58] dennisdoomen commented on #537
@carlin-q-scott is that what you meant?

[2018-01-09 17:02] krajek commented on #318
I can tackle it, but we have to agree on the last test case that @blairconrad provided.
I think that the results should be

actual | expected | result
-- | -- | --
1, 2, 3 | 1, 4, 3, 2 | fail
1, 2, 3 | 3, 1, 2 | pass
1, 2, 3 | 1, 2, 3 | fail
1, 2, 3, 4, 5 | 2, 3, 4 | **fail**
1, 2, 3, **5, 4** | 2, 3, 4 | **fail**

Last two fail, because they contain 2,3,4 in order. The last one contains 2,3,4 in

[2018-01-09 17:13] dennisdoomen commented on #318
I find the table a bit difficult to reason about. What's _actual_, what's _expected_, and what does _pass_/_fail_ mean?

[2018-01-09 17:24] blairconrad commented on #318
"expected" would be the collection passed as the first argument to `NotContainInOrder`. I used it in the same sense as it's used in [BeSameAs](https://github.com/fluentassertions/fluentassertions/blob/fe0af34e08f611d24c27414b67f6e694c3c1d651/Src/FluentAssertions/Primitives/ReferenceTypeAssertions.cs#L79).

"actual" was not the best choice. Probably "subject" is closer to the usual FluentAssertions

[2018-01-09 19:18] krajek commented on #318
Good points regarding vocabulary. Let me just rewrite the table once again in FA terms. Note, that compared to the previous table I changed the first result.

`subject.Should().NotContainInOrder(expected);`

subject| expected | assertion throws
-- | -- | --
1, 2, 3 | 1, 4, 3, 2 | **no**
1, 2, 3 | 3, 1, 2 | no
1, 2, 3 | 1, 2, 3 | yes
1, 2, 3, 4, 5 | 2, 3, 4 | yes
1, 2, 3, 5, 4 | 2, 3, 4 | yes

[2018-01-09 19:59] krajek commented on #569
@dennisdoomen you added `requires-clarification` tag, but the issue is clear to me.
@SaroTasciyan explained, that the problem was with the usage of operator .? which does not call right-hand side of expression at all, in case of `null` subject.

[code]

Above code does not throw.
FA itself cannot help here. I would suggest closing the issue here.
I will check if static analyzer for FA catches this

[2018-01-09 20:09] dennisdoomen commented on #569
I think we should wait for @onlyforkbj to confirm that this was indeed the problem.

[2018-01-09 20:36] jnyrup commented on #318
I'm not very keen on the name due to two reasons:

---

Compare `ContainInOrder` to `NotContainInOrder`

1) `ContainInOrder` is a contraction of containing *and* being in order.
2) Prefixing an assertion with `Not` should give the negated assertion.

The formal logically negation of "containing and being in order" is:
"not containing or not being in order", or formulated in a sentence
"subject sho

[2018-01-09 21:19] jnyrup opened #731 "Consistency in Attribute assertions"
If #727 gets merged, we should also revise other calls to
`GetCustomAttributes(bool inherit)` and
`GetCustomAttributes(Type attributeType, bool inherit)`

E.g `TypeSelector,ThatAreDecoratedWith` currently calls `GetCustomAttributes(typeof(TAttribute), true)` which would be inconsistent with the difference between `BeDecoratedWith` and `BeDecoratedWithOrInherit`.

[2018-01-10 09:00] krajek commented on #1
Regarding 86 failing tests, probably they were the same that I fixed in #726. I got the same number of failing tests in my non-English environment.

[2018-01-10 11:57] dennisdoomen commented on #318
You have a point here. Maybe `ContainOutOfOrder` is a better fit.

Changing the existing API is not in scope of 5.0 anymore. I want to finalize the remaining issues with a couple of RCs and then ship it.

[2018-01-10 20:19] #706 closed

[2018-01-10 21:00] krajek commented on #318
@dennisdoomen yes, of course, everything discussed here is just clarification. Implementation to be done after the release.

---

Once again I will post a design table, but this time I include ContainInOrder.

A: `subject.Should().NotContainInOrder(expected);`
B: `subject.Should().ContainInOrder(expected);`

subject | expected | assertion A throws | assertion B throws
-- | -- | -- | --
1, 2, 3 | 1

[2018-01-11 06:22] dennisdoomen opened #732 "When auto-conversion is enabled, the resulting failure message contains duplciate items"
[code]

[2018-01-12 07:55] #730 closed

[2018-01-12 07:57] #732 closed

[2018-01-13 18:33] leomicheloni commented on #1
I updated to the version that contains your changes and still have 86 failling test

[2018-01-13 19:38] krajek commented on #1
Could you please attach a list of them, failure messages, or complete log?

[2018-01-13 20:44] leomicheloni commented on #1
Sure thing
[testresults.txt](https://github.com/fluentassertions/fluentassertions/files/1628734/testresults.txt)

[2018-01-13 21:29] krajek commented on #1
They are exactly the tests that failed for me. I had double checked that InvariantCulture is properly used everywhere now.

The thing that makes me think you are using some different source that HEAD is that in your first failing assert there is:
`Expected exception message to match the equivalent of
[13/01/2018 21:33:16 Informational] [xUnit.net 00:00:03.1042436]       "Expected value to not appr

[2018-01-13 22:14] jnyrup commented on #720
Note: The problem has disappeared with `xUnit 2.4.0-beta1-build3896` which was triggered by https://github.com/xunit/xunit/commit/8d0cdc1cf585f5cf285d221e0c8ff793e6aeea30

[2018-01-15 08:47] abenedykt commented on #473
Didn't noticed your question. Sorry for that. Here is an example project and failing tests. Hope it helps. I would be happy to help you more if I can

https://github.com/abenedykt/bug_example

[2018-01-18 18:31] dennisdoomen commented on #631
Point 1 has been explained in https://github.com/fluentassertions/fluentassertions/blob/release-5.0/docs/documentation.md#compile-time-types-vs-run-time-types
Point 2 has been documented here https://github.com/fluentassertions/fluentassertions/blob/release-5.0/docs/documentation.md#diagnostics

[2018-01-18 18:51] #631 closed

[2018-01-20 16:30] #592 closed

[2018-01-20 16:32] dennisdoomen commented on #720
So we can close this now?

[2018-01-20 16:33] dennisdoomen commented on #711
Option 1 sounds like a decent solution.

[2018-01-20 16:34] dennisdoomen commented on #698
What about a custom `IValueFormatter`

[2018-01-20 16:35] dennisdoomen commented on #670
I need to find some kind of heuristic on what to show and what not.

[2018-01-20 16:37] dennisdoomen commented on #577
So the conclusion of this issue is to add `Whose` and `That` anywhere where `Which` is available?

[2018-01-20 18:35] jnyrup commented on #720
In the current state, if using Fluent Assertions and `ValueFormatterDetectionMode` one needs to use xUnit at most 2.3.0-beta5 or at least xUnit 2.4.0-beta1-build3896.

If that is okay with you, we should just note it somewhere in the docs.

[2018-01-21 06:47] dennisdoomen commented on #720
So 2.3.0 and 2.3.1 are fine as well?

[2018-01-21 07:17] jnyrup commented on #720
No.
It works in 2.3.0-beta5 which we currently use.
It then broke in 2.3.0-rc1 and wasn't fixed until 2.4.0-beta1-build3896.

[2018-01-21 11:17] dennisdoomen commented on #720
Might be related to `AppDomain` loading.

I think we should add this to https://github.com/fluentassertions/fluentassertions/blob/release-5.0/docs/extensibility.md

[2018-01-21 11:52] jnyrup commented on #720
I think you're right about the `AppDomain` think.
It stopped working somewhere [here](https://github.com/xunit/xunit/compare/2.3-beta5...2.3-rc2).

I can try to bisect the particular commit, if that is of any help?

[2018-01-21 13:08] dennisdoomen commented on #533
@IUsername are you willing to disclose some information about yourself? I'm working on a blog post for the final release of Fluent Assertions and I'd like to be able to name you with more than just _IUsername_

[2018-01-21 14:02] jnyrup commented on #731
@dennisdoomen in `TypeExtensions.cs` we are inconsistent whether we use `HasAttribute` or `IsDecoratedWith` and whether inherited attributes are considered.

The only other API methods that have `Attribute` in their name are the `HaveAttribute` methods from `XElementAssertions` and `XmlElementAssertions`.

The current API methods are:

[code]

[code]

but
[code]

If it's not too late to change, I

[2018-01-22 14:18] dennisdoomen opened #738 "Conversion rules end up in the failure message multiple times"
[code]

[2018-01-22 18:14] dennisdoomen opened #739 "Treat types that override `Equals` as having value semantics"
Dogfooding 5.0 has revealed some inconsistent behavior of how `Should().BeEquivalenTo` should deal with value vs structural comparisons. This is currently governed by https://github.com/fluentassertions/fluentassertions/blob/release-5.0/Src/FluentAssertions/AssertionOptions.cs#L36 and https://github.com/fluentassertions/fluentassertions/blob/release-5.0/Src/FluentAssertions/Equivalency/ValueTypeEq

[2018-01-23 01:26] IUsername commented on #533
That would be great. I updated my bio with some details. If you want more just let me know.

[2018-01-23 12:07] mpopdam commented on #739
I don't like the annotation option.

[2018-01-23 12:38] ronaldkroon commented on #739
Agree, I also don't like to add annotations to production code, just for the specs.
I really feel that if you implement Equals yourself that we should trust that it is indeed equal.

[2018-01-23 23:34] leomicheloni commented on #1
Yeap, you're right, now all test pass, my bad. Thanks!

[2018-01-23 23:58] leomicheloni commented on #1
Ok, I'been peeking around the code and this issue, I think I don't totally undestand the requirement, is there any chance to provide a more detailed scenario so I can understand what to do. I'm really sorry but I really don't got it.
Thanks!

[2018-01-24 06:07] dennisdoomen commented on #1
Basically we want to have an assertion named `Match` that takes a predicate on an `XElement`. And when that predicate returns `false`, it should throw a failure message. We have something similar on `ObjectAssertions`

[2018-01-24 20:33] dennisdoomen commented on #544
Not reproducable.

[2018-01-24 20:33] #544 closed

[2018-01-25 20:04] danjagnow opened #741 "ShouldBeEquivalentTo() fails on netcoreapp2.0 for deserialized nested dictionaries"
The following test passes when compiled for **net462** but fails for **netcoreapp2.0**:

[code]

Tested with **FluentAssertions** 4.19.4 and **Newtonsoft.Json** 10.0.3.  Output from the failed test looks like this:

[code]

I've added a minimal project for reproducing the issue at https://github.com/danjagnow/FluentSandbox.  Just pull the repository and run `dotnet test` from the root.

[2018-01-25 21:01] dennisdoomen commented on #741
Thanks for reporting this. Could you please retest this with 5.0 RC2? We're very close to releasing that one.

[2018-01-25 21:27] danjagnow commented on #741
Sure.  I added a **5.0-RC2** branch to the repository that sets that up.  It was necessary to change the calls from `ShouldBeEquivalentTo()` to `Should().BeEquivalentTo()` to get that to compile due to the expected breaking changes with 5.0.  The behavior is different.  The `WorksOnBoth` unit test in the repository continues to pass on both **net462** and **netcoreapp2.0**.  The `WorksOnNetFramewo

[2018-01-25 21:40] danjagnow commented on #741
To be clear, it's quite possible that this test *should* fail.  The types it's comparing are structurally similar but different.  But I would love it if the behavior was the same regardless of whether it's running on .NET Framework or .NET Core.

[2018-01-25 23:58] sw-carlin opened #743 "Provide value in assertion failure message for variable expectation"
When I include a class field in an assertion I sometimes see something like:
[code]
It seems like FA attempted to read the value of the field but failed figuring out how to do that properly.

The assertion would look something like this:
[code]

[2018-01-26 05:15] dennisdoomen commented on #743
Thanks for reporting. Which version of FA? 5.0 RC2?

And is that the actual assertion code that you used?

[2018-01-26 06:35] dennisdoomen commented on #741
I agree. I'll investigate.

[2018-01-27 10:18] dennisdoomen commented on #739
Solved in #740

[2018-01-27 10:18] #739 closed

[2018-01-27 13:02] dennisdoomen commented on #738
Can't reproduce

[2018-01-27 13:11] jnyrup commented on #711
Can this be closed with #737 merged?

[2018-01-27 13:21] jnyrup commented on #537
@sw-carlin seems you switched to a new GitHub profile?

[2018-01-27 14:16] #589 closed

[2018-01-27 14:22] dennisdoomen commented on #741
After debugging, it looks like `JsonConvert` returns a dictionary which single item has key `NestedDictionary` and a value of type `JObject`. That's obviosuly never going to work.

[2018-01-27 18:06] jnyrup opened #744 "Redundant BindingFlags"
From `TypeExtensions.cs`

[code]

Note how `BindingFlags.NonPublic` is included in both constants.

Is that just redundant?

[2018-01-27 18:25] dennisdoomen commented on #744
No, that can be removed.

[2018-01-27 18:42] jnyrup commented on #744
Come again?

[2018-01-27 19:05] dennisdoomen commented on #744
I mean the duplicate `BindingFlags.NonPublic`

[2018-01-27 19:17] jnyrup commented on #744
I just wondered since

[code]

uses `PublicMembersFlag`, which includes `BindingFlags.NonPublic`, and hence `GetPublicProperties` will also return private properties.

[2018-01-27 19:26] dennisdoomen commented on #741
After merging #746, the result will be:

[code]

[2018-01-27 21:10] #741 closed

[2018-01-27 23:20] #711 closed

[2018-01-28 06:58] #435 closed

[2018-01-30 14:49] dennisdoomen opened #751 "Read only dictionary with a collection in its value is compared by value"
Since we don't support `IReadOnlyDictionary` directly, `BeEquivalentTo` will treat it as a collection of `KeyValuePair<,>`. But since that class overrides `Equals`, the `ValueTypeEquivalencyStep` will use its `Equals` override, which will do a simple comparison of the `Key` and `Value`. If the latter is a collection, this will always fail.

The preferred solution is to ignore the value semantics o

[2018-01-31 06:46] dennisdoomen commented on #738
The `TryConversionStep` is added every time a new instance of the `SelfReferenceEquivalencyAssertionOptions` is created. First when it copies over the `UserEquivalencySteps` from the defaults (which always adds the `TryConversionStep` as part of it), and possibly later

[2018-01-31 07:40] #751 closed

[2018-02-05 16:21] jensbrand opened #753 "Generic EventMonitoring: no way to tell RaisePropertyChangeFor which Property to look for"
In the documentation:

[code]

This dosn't work because subject.Should() dosn't expose RaisePropertyChangeFor. Monitor.Should() does but than, x is of type INotifyPropertyChange and does not expose the Property toc check.

[2018-02-05 19:04] dennisdoomen commented on #753
You should remove the `INotifyPropertyChanged`. See https://github.com/fluentassertions/fluentassertions/blob/master/Tests/Shared.Specs/EventAssertionSpecs.cs#L459

[2018-02-06 07:48] jensbrand commented on #753
Yes, I know this option and it works perfectly. But I think, the documentation is not correct because subject.Should() dosn't has the RaisePropertyChangeFor() method.

[2018-02-06 07:54] wastaz opened #755 "Should().BeEquivalent() missing from IComparableAssertions"
Before the big 5.0 breaking change when `ShouldBeEquivalentTo` still existed I could do the following

    var thing = GetMyComparable();
    var expected = new MyClassThatImplementsIComparable();
    thing.ShouldBeEquivalentTo(expected);

However after 5.0 when attempting to fix this by changing `thing.ShouldBeEquivalentTo(expected)` to `thing.Should().BeEquivalentTo(expected)` I notice that this

[2018-02-06 10:00] dennisdoomen commented on #753
OK, I'll check the docs. Thanks for reporting it.

[2018-02-06 10:03] dennisdoomen commented on #755
I thought about that, but then I wondered why anybody would use `Should().BeEquivalent` on an `IComparable`. What do you try to accomplish here?

[2018-02-06 11:38] wastaz commented on #755
I have two different classes that "look the same", one is a DTO and another one is a domain object with additional logic. I want to compare that these are equivalent in the sense that for each public property on the DTO there's a corresponding property on the domain object that contains the same data. But I do would highly prefer to not create another domain object to compare with since that is mo

[2018-02-06 14:27] dennisdoomen commented on #755
Ah, that makes sense indeed. So maybe I can just add `BeEquivalentTo` to the `ComparableAssertions`.

[2018-02-06 14:28] dennisdoomen commented on #744
Sure. Just remove it.

[2018-02-08 02:24] bernard-chen opened #756 "FormatException when a bad string is included in the 'because' clause of a failed assertion"
When a particular string is included in the because clause of a failed assertion, it causes the assertion to throw a FormatException instead of an AssertionFailedException. This string comes from the big list of naughty strings (https://github.com/minimaxir/big-list-of-naughty-strings) and corresponds to "<>?:\"{}|_+".

This problem can be reproduced with the following .NET Core 2.0 console app wi

[2018-02-08 02:54] bernard-chen commented on #756
I think this comes down to string.Format not liking unescaped braces being passed in. One option might be to replace empty braces (or braces with only whitespace between) with the equivalent text but with the braces doubled.

[2018-02-08 06:02] dennisdoomen commented on #756
Thanks for reporting this. Out of curiosity, is this just a made-up example, or are you actually trying to include the expectation in the _because_ parameter?

[2018-02-08 06:53] bernard-chen commented on #756
I was iterating over all the strings in the list of naughty strings that I included in the original report and seeing if any of them caused problems with a function I was testing. Because I was feeding each of them into the function, I also needed to know which of them was failing, so I included the string in the "because" parameter. When I did this, I encountered the format exception rather than

[2018-02-08 07:10] dennisdoomen commented on #756
Thanks for that solution. I have to say it is kind of an edge case, but we do not encode the _because_ string. And you're right. In 5.0, we don't do any formatting until the assertion really fails.

[2018-02-08 07:10] dennisdoomen commented on #756
BTW, if you want, you can become a contributor ;-)

[2018-02-08 07:30] bernard-chen commented on #756
I agree it's an edge case.

I've never made a contribution to an open source project. I was reading up on how to create a PR for this project and I could probably use some guidance on how to create one for this change. Would I fork this project and create a PR from that, or is the process simpler if I become a contributor? Also, I did not see the develop branch mentioned in the CONTRIBUTING.md.

[2018-02-08 07:38] dennisdoomen commented on #756
Yep, check out https://help.github.com/articles/fork-a-repo/

[2018-02-08 10:03] m3zercat opened #757 "When installing the package in .net 4.7 it forces me to install ValueTuple"

[2018-02-08 10:07] dennisdoomen commented on #757
Shouldn't hurt, considering https://github.com/dotnet/announcements/issues/25

[2018-02-08 11:30] m3zercat commented on #757
Ah. I hadn't seen that. Just remembered a while back it causing me annoying issues and so I've been avoiding it ever since.

[2018-02-08 11:38] dennisdoomen commented on #757
I probably have to change the .nuspec so that that version no longer has the dependency.

[2018-02-08 13:31] #757 closed

[2018-02-09 13:34] MJLHThomassen-Eurocom commented on #693
I just updated our .net 4.5 project to use Fluent Assertions 5.0.0 this week. Team is happy, thanks!

[2018-02-09 16:13] WhatFreshHellIsThis commented on #234
Has anything now changed with 5.0?  (I need to test dynamic objects with a REST api)

[2018-02-09 19:55] jmyersmsft commented on #580
Users who find this issue via web searches and want to use local functions like this while keeping more of the fluent style could do something like
[code]

Looks prettier than the cast at least. FA could provide such an `Invoking` method that users could use with `using static`, but I don't think it's likely users would even discover such a thing, so probably not worth it.

[2018-02-09 20:14] dennisdoomen commented on #234
Unless there's a way to define a `Should()` extension method that acts on dynamic, no

[2018-02-11 13:26] #755 closed

[2018-02-14 06:54] jnyrup commented on #755
@wastaz FYI: 5.1.1 has just been released with the fix.
Thanks again for reporting this.

[2018-02-15 06:39] #756 closed

[2018-02-15 14:36] devjohnny opened #767 "VSTS build error: Index source information could not be retrieved."
**Issue Summary**
I've got a C# web application and this application uses the FluentAssertions from nuget. Build is happening online via VSTS (Visual Studio 2015 build agent). Everything compiles ok, but the build throws an error getting symbol indexes from FluentAssertions.pdb. Error as follows:

Indexed source information could not be retrieved from 'd:\x\y\z\<ProjectName>\bin\FluentAssertions.p

[2018-02-15 15:49] dennisdoomen commented on #767
Hi @devjohnny. Thanks for reporting this.

What _specifically_ is the build doing there? If it is running unit tests, can you share the entire stack trace?

[2018-02-15 16:50] devjohnny commented on #767
I use it in a unit test project and the build is working properly and all unit tests are passed. After the build phase I have a 'Publish Symbols' step and I get the error:

If I rollback to v4.19, it is working properly. I checked the v4.19 pdb and v5.11 with symchk and I get the error only the v5.1.1

[2018-02-15 18:08] jnyrup commented on #767
Reading from other [issues](https://github.com/JoshClose/CsvHelper/issues/535), the problem seems to be:
* The default value for `<DebugType>` is `portable` - the new [portable PDB](https://github.com/dotnet/core/blob/master/Documentation/diagnostics/portable_pdb.md).
* TFS 2017 [can't read](https://developercommunity.visualstudio.com/content/problem/33776/indexed-source-information-could-not-be-r

[2018-02-16 06:00] dennisdoomen commented on #767
Why would you publish symbols of a unit test project??

[2018-02-16 08:22] devjohnny commented on #767
The solution contains several class libraries and unit test projects so it isn't a single unit test solution.

I will try the recommendation above.

Thank you guys.

[2018-02-16 08:22] #767 closed

[2018-02-17 00:52] snekbaev opened #771 "Should().BeEquivalentTo"
Hi,

thought you might give some insight about why comparison doesn't work.

[code]
where `UserEntity` is an LLBLGen ORM entity and has other properties/fields/methods. However, validation throws `AssertionFailedException`. When I replace it with a regular class like:
[code]
No exception. I also tried in LinqPad:
[code]
both return `true`.

P.S.: using 5.1.1

[2018-02-17 06:42] dennisdoomen commented on #771
Thanks for reporting this. What is the _exact_ output of the failure exception?

If I'm not mistaking, this scenario is the same as is being testing by https://github.com/fluentassertions/fluentassertions/blob/master/Tests/Shared.Specs/CollectionEquivalencySpecs.cs#L704.

BTW, you can compare your object with an anonymous type. That usually makes your tests a bit easier to read.

[2018-02-17 10:06] snekbaev commented on #771
Thank you for a quick response!

I replaced the `UserEntity` with `FavoriteEntity` and compared `EntityId` Guid field to make the exception message shorter: [fvGHIssue.txt](https://github.com/fluentassertions/fluentassertions/files/1733553/fvGHIssue.txt)

P.S.: yeah, as a workaround I ended up having anonymous type comparison with a todo to undo :) One thing I ran into and wasn't sure whether it w

[2018-02-17 17:40] asherber opened #772 "Exceptions with xUnit and LinqPad"
Using LinqPad 5.26.01, FluentAssertions 5.1.1

[code]
Throws a null reference exception:

[code]
(The same thing happens if I throw in Xunit.Runner.LinqPad 1.0.0,  FWIW.)

Perhaps this is known and not supported.

[2018-02-17 17:52] jnyrup commented on #772
Hi Aaron.
Thanks for reporting the issue.

In `DotNet(StackFrame)` we blindly expected `Main` to inside a namespace, but that's not always the case.
Until we've fixed that, you can workaround it by encapsulating `Main` inside a namespace.

[2018-02-17 18:23] asherber commented on #772
Ah, thanks for the explanation. Adding a little more context to the workaround, for anybody else who's interested.

For the minimal program I gave above, the workaround can't be used, for reasons explained here: http://forum.linqpad.net/discussion/52/using-namespace-in-linqpad-code-c-program-mode Basically, `Main()` already exists in an implicit class, so you can't surround it with a namespace.

H

[2018-02-18 08:09] #772 closed

[2018-02-20 08:15] bradphelan opened #775 "Targets that are IComparable and IEnumerable don't work"
![image](https://user-images.githubusercontent.com/17650/36413412-94d1d5e6-161e-11e8-9e19-478d49ee8d30.png)

Specifically classes like Lst<T> from LanguageExt

https://louthy.github.io/language-ext/LanguageExt.Core/LanguageExt/Lst_A.htm

which is an immutable list, both comparable and enumerable

Is there a solution to this?

[2018-02-20 08:18] dennisdoomen commented on #775
What's the type of that `Children` property?

[2018-02-20 08:34] bradphelan commented on #775
Lst<T>  as in the link

[2018-02-20 08:39] bradphelan commented on #775
The workaround for the moment for me is to provide

[code]

[2018-02-20 09:03] bradphelan commented on #544
I can confirm the error no longer appears

[2018-02-21 09:47] kevinkuszyk opened #776 "Tests running locally but not on AppVeyor?"
I have a PR open on the MVC extensions project to upgrade to FA 5 (fluentassertions/fluentassertions.mvc#34).  We have an odd error when tests run locally but not on AppVeyor.

@dennisdoomen have you seen a case like this before, and any idea on what might be wrong?

This is my console output locally:

![image](https://user-images.githubusercontent.com/2734580/36473032-506c41a2-16eb-11e8-98c1-d6a7

[2018-02-21 09:49] dennisdoomen commented on #776
The caller identitifcation only works on .NET Standard 2.0 and .NET 4.5 _and_ when you debug info available.

[2018-02-21 09:54] kevinkuszyk commented on #776
Bingo, thanks @dennisdoomen it blows up here now when I make a release build.

@rikrak does that give you enough info to finished off the FA 5 upgrade?

[2018-02-21 10:01] dennisdoomen commented on #776
I even documented that http://fluentassertions.com/documentation.html#subject-identification

[2018-02-21 10:08] rikrak commented on #776
@kevinkuszyk I shall take a look.  Thanks for the tip @dennisdoomen :-)

[2018-02-21 10:16] kevinkuszyk commented on #776
Note to self: RTFM!

[2018-02-21 19:37] #776 closed

[2018-02-22 09:27] Mike-EEE opened #777 "Question: Nullable Immutable Arrays"
First off, amazing project. :)  We are using it for [ExtendedXmlSerializer](https://github.com/wojtpl2/ExtendedXmlSerializer).

Secondly, finally ran into my first problem here after many (many!) times of "just working".

I have the following class:

[code]

But when I do this:
[code]

I get the following failure: `Expected member Test to be {1, 2, 3}, but found {1, 2, 3}.`

Looks like it has to d

[2018-02-22 09:27] Mike-EEE commented on #777
Hey lucky #777... I'll take that. 😎

[2018-02-22 09:33] dennisdoomen commented on #777
Thanks for nice words. If possible, I recommend using v5. It has much better semantics for value types.

[2018-02-22 10:01] Mike-EEE commented on #777
OK cool.  I did try to upgrade but we're using a lot of `ShouldBeEquivalentTo` which appears to be moved in the latest version (no doubt due to your suggestion above).  I'll fix this bug I am working on and then give that a shot.  If I have any further questions I'll reopen this issue.  Thank you for your quick reply!

[2018-02-22 14:49] FilipFilipov opened #778 "Nullable DateTime properties cause exception when comparing collections with different member ordering"
It's entirely possible this affect more general cases, but that's the only one I've run across.

[code]

[2018-02-22 15:09] jnyrup commented on #778
Which version of Fluent Assertions are you using?

I just tried with v5.1.2 and all cases passes for me.

[2018-02-22 15:17] FilipFilipov commented on #778
I'm using the NuGet package of 5.1.2 for framework 4.6

[2018-02-22 15:25] jnyrup commented on #778
Can you check if:
* replacing `DateTime.Now` with `DateTime.UtcNow` or,
* setting `CultureInfo.DefaultThreadCurrentCulture = CultureInfo.InvariantCulture;`

solves the problem?

[2018-02-22 15:32] FilipFilipov commented on #778
I now remember that I created  a custom global configuration way back when I first started using the library. You can reproduce the bug if you add this

[code]

I did this to compare DateTimes fetched from the SQLServer, as they lose more precision when saved than the default margin for error will allow. I don't recall that causing problems before version 5.0 though.

[2018-02-22 19:19] dennisdoomen commented on #775
This is not something we can fix unfortunately. It's a compiler limitation. The only workaround I can think of is to first cast the result.

[2018-02-22 19:36] dennisdoomen commented on #771
Wait, now I see the problem. Does that object override `Equals`? Because it looks like it is comparing the entity by value, not by it's properties. You can verify that by using the `ComparingByMembers` option.

[2018-02-22 19:46] snekbaev commented on #771
Something like:

[code]
?

[2018-02-22 19:55] dennisdoomen commented on #771
No:

[code]

[2018-02-22 19:56] snekbaev commented on #771
I think following can replicate the issue:

[code]

[code]

[code]

You will need FluentAssertions Nuget and LLBLGen support classes Nuget: https://www.nuget.org/packages/SD.LLBLGen.Pro.ORMSupportClasses

[2018-02-22 19:57] snekbaev commented on #771
[code]

let's try...

[2018-02-22 19:58] dennisdoomen commented on #753
The docs were indeed wrong and completely unnecessary. You don't need to call `Monitor<INotifyPropertyChanged>()` to use `Should().RaisePropertyChangeFor`.

[2018-02-22 19:58] #753 closed

[2018-02-22 20:05] dennisdoomen commented on #771
This is by design. I tried to make this behavior more consistent and predictable. From http://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html:

[2018-02-22 20:10] snekbaev commented on #771
alright, thank you! :)

[2018-02-22 20:13] #771 closed

[2018-02-22 20:14] #775 closed

[2018-02-22 20:16] dennisdoomen commented on #699
Or a `Should().ContainEquivalentOf()` which then uses the structural equvalency API to do a sub-set comparison.

[2018-02-22 20:22] DerAlbertCom commented on #699
Yes and No. I like this for using anonymous type, which is fine for ONE Instance, not for multiple instance. and for multiple instance I (me and myself) prefer a concrete class, and for this i would have to implement a custom type. But this is the main point of this issue ;) But this may only me.

[2018-02-22 21:24] Mike-EEE commented on #777
Ah ok... I installed v5.1.2 but unfortunately I get the same failure.  I am using `Should().BeEquivalentTo`.  Please let me know if there's another consideration here.

[2018-02-23 06:18] dennisdoomen commented on #699
Not sure I understand you. It could be based on `Should().BeEquivalentTo`  which supports all the bells and whistles to decide what you want to include in the comparison and how to compare properties.

[2018-02-23 07:00] Mike-EEE commented on #777
OK great, thanks for sharing that, @dennisdoomen.  For starters, can you please share the source of that?  Is that from a blog?  I would like to subscribe to it to make sure I get updates and not have to be a hassle on your issues board. 😄

Secondly, the issue isn't value types per-se, but in this case a _nullable_ value type.  If I change my `Test` property from a `ImmutableArray<int>?` to a `Imm

[2018-02-23 07:03] eNeRGy164 commented on #777
Source: http://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html

[2018-02-23 07:04] nbrannstrom commented on #743
Think I found the same problem
`
[Test]
        public void Demo()
        {
            var list = new List<int> { 1, 2 };

            var myNumber = 3;

            list.Should().Contain(x => x == myNumber);
        }
`
results in

`
Expected list {1, 2} to have an item matching (x == value(FluentTesting.TestintFluentAssertion+<>c__DisplayClass0_0).myNumber).
   at FluentAssertions.Execution.La

[2018-02-23 07:07] Mike-EEE commented on #777
Cooool, thanks @eNeRGy164 ... subscribed. 🤓

[2018-02-23 07:17] dennisdoomen commented on #743
Ah, that's FA just trying to render a display version of the expression. Nothing more.

[2018-02-23 07:29] DerAlbertCom commented on #699
Oh, if i can put a comparer in there ... i'm good with that ;) So i didn't understand you.

[2018-02-23 07:32] Mike-EEE commented on #777
Ah ok... what I am suggesting here is to have the ability to pass in an `IEqualityComparer` to the `BeEquivalentTo` method.

If it helps, [here is an example](https://github.com/wojtpl2/ExtendedXmlSerializer/blob/master/test/ExtendedXmlSerializer.Tests/ContentModel/Reflection/TypePartsParserTests.cs#L59-L66) of what we're having to do now.

Ideally, it would be nice to do something like this inste

[2018-02-23 11:54] FilipFilipov commented on #778
It seems I can work around the issue by specifying a second rule for the nullable DateTime

[code]

Still it'd be nice if it figured that out on its own.

[2018-02-23 11:54] #778 closed

[2018-02-23 16:45] Athari opened #779 "Question: .NET Standard 1.4 vs .NET Standard 1.3"
What is the reason to prefer .NET Standard 1.4 over 1.3? I couldn't find any info on their [supported platforms](https://docs.microsoft.com/en-us/dotnet/standard/net-standard) being different or [any relevant APIs](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard1.4.md) being added in 1.4. [XmlDocument](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmldocument) men

[2018-02-23 20:04] dennisdoomen commented on #779
Now I'm in doubt as well. Just checked the history and apparently I did it to support XmlDocument (see #463), but it seems I was wrong about that.

[2018-02-23 20:07] dennisdoomen commented on #779
Just tried to retarget it and everything seems to work, so it looks I can fix this.

[2018-02-23 20:12] dennisdoomen commented on #1
Anything you need to get this one going?

[2018-02-24 20:59] dennisdoomen commented on #779
Will be part of 5.2.0 in the coming days.

[2018-02-25 08:14] #779 closed

[2018-02-25 10:25] melchiork opened #781 "MethodImplAttribute doesn't work with BeDecoratedWith"
Version: 5.1.2

When a method is decorated with `MethodImplAttribute` the assertion `Should().BeDecoratedWith<MethodImplAttribute>()` will not detect that and therefore produce a false negative. It's because `GetCustomAttributes` method that is used behind the scenes will not get this attribute as per [docs](https://msdn.microsoft.com/en-US/library/system.runtime.compilerservices.methodimplattribu

[2018-02-27 11:01] HajbokRobert commented on #473
That is how C# works, it's not a FluentAssertions bug. Passing dynamic as a method parameter makes the function return a dynamic(object) instead of a bool, because of the late binding of the compiler. It means you have to cast before using the extension method for a dynamic object, something like:

[code]

See these for further reference:
https://stackoverflow.com/questions/7829518/dynamic-paramet

[2018-02-27 15:00] hellboy81 opened #782 "[question] [discussion] [support needed] Asserting log created with log4j has entry"
I have unit test written in C# which should test my own code both in C# which also calls external application (SOAP UI) and also my code in this AUT (Groovy)

The only way to verify Groovy code is logging. The logging framework in SoapUI is based on `log4j`

What is the best way to make assertions indirectly using log files?

[2018-02-27 21:52] kasajian opened #783 "Term "Expected value" used incorrectly in message"
The term "Expected value" used incorrectly when used with BeApproximately

Everything works fine when using integers:

        var actual = 5;
        var expected = 6;
        actual.Should().Be(expected);

You will get an failure message that says:

        Expected value to be 6, but found 5.

That's correct.  The test was expecting 6, but found 5 instead.

However, if you have code that looks

[2018-02-28 06:46] ofirgeller opened #784 "Maintain more specific types when chaining assertions"
For example if I am asserting something on Type A that derives from object, and I use `.And` to chain more assertions I lose the type of the original object that is now only known to be an "object".

The thing that made me think of this is the usage of the `BeOfType<T>` assertion. I would be much more comfortable to have the subject typed as T after this assertion in the chain. so you can write so

[2018-02-28 07:30] dennisdoomen commented on #783
Interesting, as far as I'm concerned _value 5_ is the noun here. So I'm expecting the value 5 to approximate 6.

On the other hand, considering you had issues with it, this may mean others have it too.

[2018-02-28 07:31] dennisdoomen commented on #784
You need to use `Which` like this:

`actual.Should().BeOfType<Car>().Which.Subject.Speed.Should().Be(80);`

[2018-02-28 07:40] ofirgeller commented on #784
Thank you, I did not know that and it does serve well for my main use case. but other assertions are still losing the specific type no?

[2018-02-28 07:47] dennisdoomen commented on #784
Most assertions that have the notion of a `T` return an object that exposes a typed `Which`

[2018-02-28 18:40] dennisdoomen commented on #782
This question is not really related to this project. Please post this on StackOverflow instead.

[2018-02-28 18:40] #782 closed

[2018-02-28 18:41] dennisdoomen commented on #781
Why would (1) be breaking?

[2018-02-28 18:42] dennisdoomen commented on #743
Does that answer your question?

[2018-02-28 18:44] dennisdoomen commented on #777
I found the problem. Nullable properties referring to types implementing `IEnumerable` are not detected as such, after which FA will fall back on value semantics. And `ImmutableArray` implements `Equals` by comparing the underlying arrays by reference.

[2018-02-28 22:55] melchiork commented on #781
Example "reconstruction" of `MethodImplAttribute`

[code]

[2018-03-01 09:11] nphmuller opened #785 "NullableNumericAssertions<> methods throw NullReferenceException when subject is null"
On FluentAssertions 5.1.2 the following test fails:

[code]

[2018-03-01 09:37] jnyrup commented on #785
Hi @nphmuller
Thanks for reporting this.
This is definitely a bug.

A reduced example is:
[code]

[2018-03-01 12:54] HajbokRobert commented on #785
Hi @jnyrup, [here](https://github.com/fluentassertions/fluentassertions/pull/787) is a PR for this.

[2018-03-01 18:33] dennisdoomen commented on #743
Honestly, I would not know how to accomplish that.

[2018-03-01 18:53] jnyrup commented on #743
The compiled `Expression` uses the value of `myNumber` at invocation time.

[code]

If you instead make `myNumber` `const`, the `Expression` can utilize the constness.
[code]

[2018-03-01 18:58] #785 closed

[2018-03-01 20:20] james-ecargo opened #790 "Matching elements of a collection using object graph comparisons"
I've found the `ShouldBeEquivalentTo` method's object graph comparisons to be very helpful however there are certain situations where I'd like to this kind of matching with other methods.

For example in the following I want to assert that the collection at least contains this object:
[code]

Here I've used `ElementAt(2)` however in an ideal world I'd like to be able to use the `Contains` method.

[2018-03-01 20:26] dennisdoomen commented on #790
Duplicate of #699

[2018-03-01 20:26] #790 closed

[2018-03-01 21:17] james-ecargo commented on #699
I'm not sure if I can divine exactly what the solution is here. Does this mean there an enhancement coming that will allow the caller to specify an `IEqualityComparer<T>` instance for methods like `Contains`?

..and if that is the case then does FA contain an easily accessible structural equivalency equality comparer that could be passed in?

[2018-03-02 14:24] michal-ciechan opened #791 "Add Using<TActual, TExpected, TCommon>"
I have been thinking of implementing a

    .Using<TActual, TExpected, TCommon>(
        Func<TActual, TCommon> actualSelector,
        Func<TExpected, TCommon> expectedSelector
    )

with potentially an overload to accept

`Action<TCommon, TCommon> comparer`

as the final argument

[2018-03-02 14:36] dennisdoomen commented on #791
Is this related to #535?

[2018-03-02 18:29] jon-tindel opened #792 "Is updating to System.ValueTuple 4.4 in the roadmap?"
Is it currently envisioned to update to System.ValueTuple 4.4?

[2018-03-02 19:17] dennisdoomen commented on #792
Are you missing something?

[2018-03-02 19:32] jon-tindel commented on #792
Ah, good question. No, I'm just running into an assembly compatibility issue. A project I'm working on requires the later version of System.ValueTuple (4.4), and our lead architect doesn't want to get into multiple assembly versions.

[2018-03-02 20:18] dennisdoomen commented on #792
The entire point of relying on the lowest minor version is that you can take any higher version. That's the idea behind semantic versioning.

[2018-03-02 21:35] jon-tindel commented on #792
Are you sure FA isn't requiring the older version?
When I run a test that relies on ValueTuple, I get "Could not load file or assembly 'System.ValueTuple, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)".
All the System.ValueTuple.dll

[2018-03-03 07:53] dennisdoomen commented on #792
Which framework are you targeting and from which folder inside the nuget package is it referencing FA?

[2018-03-04 11:01] #777 closed

[2018-03-04 12:48] Mike-EEE commented on #777
Woohoo!  Awesome!  Thank you @dennisdoomen !

[2018-03-05 15:36] michal-ciechan commented on #791
Yes, will close this, and take a look at the other issue.

[2018-03-05 15:36] #791 closed

[2018-03-05 19:27] jon-tindel commented on #792
Targeting .net framework 4.6.1.
Referencing from C:\L\packages\unittests\FluentAssertions\lib\net45\FluentAssertions.dll (am I answering the right question?)

[2018-03-05 19:34] dennisdoomen commented on #792
Hmm, which version of FA are you using?

[2018-03-05 20:55] jon-tindel commented on #792
FA: Runtime Version: v4.0.30319. Version: 5.1.2.0.

[2018-03-06 05:51] dennisdoomen commented on #792
See https://stackoverflow.com/questions/38382971/predefined-type-system-valuetuple´2´-is-not-defined-or-imported

You're not supposed to have that assembly referenced unless you use .NET 4.7 or higher. So can you try to remove that reference add the nuget package isntead?

[2018-03-06 07:08] jimmymain opened #794 "simple array comparison in BeEquivalentTo no longer works."
Given the following application, using FluentAssertions version (5.1.2)

[code]

The array comparison throws an exception when it probably should not.

[2018-03-06 18:20] jon-tindel commented on #792
I'm not sure what assembly you're referring to. System.ValueTuple 4.4 is necessary for us and is supported by .net 4.6.1. If you're referring to the FA assembly, I can't think of a different place. The other options are net47, netstandard1.4, netstandard1.6, and netstandard2.0. All of this is being added through nuget. It is only FA that is the issue because it references System.ValueTuple 4.3. We

[2018-03-06 18:45] dennisdoomen commented on #792
That's the problem. You should be referring to System.ValueType 4.4, not 4.0.2.x. It should come from a local Nuget package, not from a different folder.

[2018-03-06 21:01] jon-tindel commented on #792
I'm sorry. I think you're mistaken. The build version 4.0.2.x is the one that comes from the package version 4.4. We are using it to great effect elsewhere in our application. It is only FA which is looking for the previous dll version. Unfortunately, we will not be able to use FA if this can't be corrected.

All of our package management is being done via nuget through paket and we have no contro

[2018-03-06 22:06] jnyrup commented on #792
Can you provide a minimal example that shows your problem?

When using NuGet 4.0.0, a .NET Framework 4.6.1 project will choose the FA dll for net45.
http://nugettoolsdev.azurewebsites.net/4.0.0/get-nearest-framework?project=net461&package=netstandard1.3%0D%0Anetstandard1.6%0D%0Anetstandard2.0%0D%0Anet45%0D%0Anet47

The FA dll targeting .net 4.5 is not requiring *exactly* `System.ValueTuple` 4.3, b

[2018-03-07 06:09] dennisdoomen commented on #792
Check out the official package using the NuGet Package Explorer. 4.4.0 has a dedicated .NET 4.6.1 package, which version is 4.7.something.

![image](https://user-images.githubusercontent.com/572734/37076320-6da3067a-21d6-11e8-9f9e-928009d08f89.png)

[2018-03-07 13:08] alexangas commented on #584
Another option might be `ContainEquivalentOf` which matches string assertions syntax.

[2018-03-08 07:01] dennisdoomen commented on #784
Does this answer your question?

[2018-03-08 07:06] dennisdoomen commented on #794
Thanks for reporting. I just tried this on the _develop_ branch and it succeeds as expected. Which version are you using?

[2018-03-08 07:26] jimmymain commented on #794
Hi,
Just checked it again, I am using 5.1.2, exception is being thrown as per my comment.

[2018-03-08 07:45] jnyrup commented on #794
It throws for me both in a clean project using 5.1.2 and as a test in the master branch.

[2018-03-08 08:13] jnyrup commented on #794
The test example needs a little tuning.
We need to call the explicit constructor and not the default parameterless.

[code]

[2018-03-08 09:07] jimmymain commented on #794
the most technically correct way to construct a `struct` with default arguments is this:

[code]

[2018-03-08 15:54] jon-tindel commented on #792
Interestingly, when our paket guy checked it out with NuGet Package Explorer, we see different values.
![nuget package explorer](https://user-images.githubusercontent.com/22062745/37160789-e2ee1c92-22a5-11e8-9fa5-8c73d56d2634.jpg)

[2018-03-08 15:56] jon-tindel commented on #792
I'll try to create a minimal example. Thanks for the advice, @jnyrup.
And thanks for your responses, @dennisdoomen.
I've been a fan of FA for years and would be disappointed if I can't get it integrated into the latest project I'm working on to the satisfaction of the team lead.

[2018-03-08 16:10] jnyrup commented on #792
Here's what I see using Nuget Package Explorer 4.1.38 and the v3 nuget feed.

![image](https://user-images.githubusercontent.com/919634/37161569-5653fa42-22f3-11e8-8b5d-ed67486d5c25.png)

[2018-03-09 09:45] ursenzler opened #797 "Why using RespectingDeclaredTypes as the default in the options for BeEquivalentTo"
While upgrade to V5 of FluentAssertions we struggle a bit with the new and shiny `BeEquivalentTo`.

We compare a lot of objects containing `IEnumerables<IFoo>` with different classes implementing `IFoo`.

The result with the default behaviour is that only the properties of `IFoo` are compared and not the additional properties of the classes implementing `IFoo`.

We can get the correct result by sp

[2018-03-09 18:26] ofirgeller commented on #784
Yes it does, thank you.

[2018-03-10 12:27] AxCoder opened #798 "Add an option to BeEquivalentTo that compares types of objects recursively."
I am trying to compare AST and found that `BeEquivalentTo` has no option to instruct the library to check types on comparing.  For example, I expect the way to modify the following test code to fail because of class names do not match. This behavior should be recursive (so if property value does not have exactly the same type, comparison should fail). I see that stackoverflow has a [question on th

[2018-03-10 15:14] jnyrup commented on #798
If your AST class overrides `bool Equals(object obj)` a workaround right now would be to use
`oneAST.Should().Be(anotherAST);` should work.

But I agree that it could be beneficial to have some option on `BeEquivalentTo` that made it more strict.

Just for the note:
The purpose of `RespectingRuntimeTypes` is compare the members of the runtime type of the expectation.
The default is to compare the

[2018-03-10 16:36] AxCoder commented on #798
Thank you.
  - overriding Equals takes some time
  - tried to add a property "ClassName", but is stopped working when I inherited from collection:

[code]

[2018-03-10 17:40] jnyrup commented on #798
The framework currently assumes that when a class implements `IEnumerable<>` or `IEnumerable`, two instances of that class are equivalent, when the implemented enumerable parts are equivalent.

If possible you could change `Base` to use [Composition over Inheritance](https://en.wikipedia.org/wiki/Composition_over_inheritance).

[2018-03-11 17:09] jnyrup opened #799 "Changing the behavior of WhenTypeIs for value types"
Currently `WhenTypeIs` checks the runtime type of the expectation.
This can cause a `NullReferenceException` in `CreateFromEquivalencyValidationContext` in the following example.

[code]

As the runtime type of `default(DateTime)` is `DateTime`, `WhenTypeIs` will match.
`CreateFromEquivalencyValidationContext` will then cast the `null` subject to a `DateTime` causing a `NullReferenceException`.

A

[2018-03-12 07:01] dennisdoomen commented on #794
@jnyrup does it also fail on the current _master_ branch (which is a bit ahead of 5.1.2)?

[2018-03-12 07:13] dennisdoomen commented on #792
Alright. It seems I was using an older version of the Nuget Package Explorer. Now I see the same thing. Apparently package 4.3.0 has a strong name referring to 4.0.1.0. I think it is safe to upgrade to System.ValueTyple 4.4.0.

[2018-03-12 07:14] dennisdoomen commented on #797
The current behavior was the intention all along. But because the _expectation_ wasn't driving the comparison, it wasn't that apparent. You can also specify a global option you know?

[2018-03-12 07:15] #784 closed

[2018-03-12 07:15] jnyrup commented on #794
@dennisdoomen just tried pulling newest master and it still fails for me.

[code]

[code]

[2018-03-12 07:28] dennisdoomen commented on #799
So the real question becomes what we expect `WhenTypeIs` to do. A [recent change](https://github.com/fluentassertions/fluentassertions/commit/27d9e0d6cef51f82bf3a59a82f224d60d75d64f4) I did ensured that `BeEquivalentTo` will treat nullable enumerables as collections.

[2018-03-12 11:00] AxCoder commented on #798
Thank you. Introducing ClassName property and  extracting collection to a separate property fixed my problem. But generally I think, that adding options for comparing classes and compare both properties and elements would help to reduce false passing tests (they are more difficult to detect then false failing tests and can lead to hiding bugs). Maybe even introduce a new method with different defa

[2018-03-13 14:11] jnyrup opened #801 "BeApproximately variant for integral types"
I found myself writing code similar to this today

[code]

While if I casted `subject` to a floating point type I could write the in my opinion much prettier
`subject.Should().BeApproximately(expected, 1)`.

I'm not sure the name for integral types should be `BeApproximately`, but a function with the same functionality could be a nice shorthand.

[2018-03-13 16:39] jon-tindel commented on #792
Thanks guys

[2018-03-14 06:25] dennisdoomen commented on #801
`Should().BeAbout()`?

[2018-03-14 06:46] jnyrup commented on #801
Brainstorming:
`Should().BeCloseTo(expected, delta)`

It *could* also be `BeApproximately()`, I just had a feeling it was best for non-integral types.
But currently you can write `1.0.Should().BeApproximately(2.0, 1.0)`.

[2018-03-14 06:47] dennisdoomen commented on #801
I like `Should().BeCloseTo(expected, delta)`

[2018-03-15 18:50] dennisdoomen commented on #794
Ah, it's a struct! Structs override `Equals` and thus will be treated as having value semantics. See also http://fluentassertions.com/documentation.html#value-types

[2018-03-15 18:54] #794 closed

[2018-03-15 19:09] dennisdoomen commented on #783
Fixed through #795

[2018-03-15 19:09] #783 closed

[2018-03-15 19:16] dennisdoomen commented on #1
@leomicheloni  you're still working on this?

[2018-03-15 19:23] dennisdoomen commented on #30
You still want to wrap this up?

[2018-03-15 19:26] dennisdoomen commented on #354
Any need for this? Anybody fancy working on it?

[2018-03-15 19:26] #792 closed

[2018-03-15 20:36] AndersAbel commented on #354
The original scope I intended with this issue is in place and merged, so closing the issue. The idea with using the schema-compatible code is really another extension and could be added as a new issue (if anyone wants to spend the time on it).

[2018-03-15 20:36] #354 closed

[2018-03-18 12:58] jnyrup commented on #781
The other type assertions take a C# perspective rather than a CLR perspective.
Seen from that point of view, I'm not against `[Not]BeDecoratedWith` getting capabilities to detect `MethodImplAttribute`.

If it is at any help for the person who might implement this, `MethodImplAttribute` is marked with `Inherited = false`. So overriden methods won't inherit this attribute.

[2018-03-19 20:17] ayb4btu opened #805 "Approximately comparing properties"
Previously I was using a custom `ApproximatelyCompareDouble` extension for classes properties (specifically of type `double`). But since FA5 this isn't being hit. The class I am comparing is:

[code]
using the following:

[code]

If I remove the overridden `Equals` in `Vector2` it works, but then doing a direct `result.Should().Be(expected)` no longer works (and the equals might be needed else whe

[2018-03-19 21:04] melchiork commented on #645
Checking `partial` keyword seems all but impossible. After the compilation all the code is merged into single type and there is no information whatsoever that the class was assembled from multiple parts. One less to worry about.

[2018-03-20 05:58] dennisdoomen commented on #805
If an object overrides `Equals`, it is supposed to provide value semantics. You can read all about it in the _Redefining Equivalency_ section of my blog http://www.continuousimprover.com/

[2018-03-20 10:52] MJLHThomassen-Eurocom opened #806 "Contain(IEnumerable<T>, params T[]) lacks because parameter"
The method

[code]
in the class `SelfReferencingCollectionAssertions<T, TAssertions>` lacks a `string because` parameter. Probably because `additionalExpectedItems` is a `params`.

Suggestions:

1. Refactor to:

[code]

Pro's:
- Same signature as other methods

Cons:
- Breaking change

2. Add:

[code]

Pro's:
- Non-breaking change

Cons:
- No `params object[] becauseArgs`
- Still does not match ot

[2018-03-20 11:45] dennisdoomen commented on #806
That's because there's already a `params` parameter. If you really need the `because`, use the overload that takes an `IEnumerable`.

[2018-03-20 12:20] MJLHThomassen-Eurocom commented on #806
Which overload is that? I am already using the overload that accepts an `IEnumerable`, as far as I can see from the interface these are the options:

[code]

from `SelfReferencingCollectionAssertions`

and

[code]
from `CollectionAssertions`

I don't require the because args per-se, its fine as it is, I was just wondering why the `additionalExpectedItems` parameter is a `params T[]` instead of an

[2018-03-20 17:26] abenedykt commented on #473
ok, so I guess we cannot do much about it at least for now.

[2018-03-20 17:27] #473 closed

[2018-03-20 19:08] wojtpl2 opened #807 "Use BeEquivalentTo to compere subclass as base class with other subclass"
I have:
[code]
then I create instances:
[code]
And then I compere this class I get exception XunitException with message
`Expected member StringVal to be \"B\", but \"A\" differs near \"A\" (index 0).*` And it is correct behavior.

But if I change type of expected object to base class, like this:
[code]
I do not get any exception.

[2018-03-20 19:10] dennisdoomen commented on #807
The object you pass in as the _expectation_ determines what is compared. In your second example, you pass in an instance of `ClassOne` as the expectation. That one doesn't expose the `StringVal` property. See also http://fluentassertions.com/documentation.html#compile-time-types-vs-run-time-types

[2018-03-20 19:59] wojtpl2 commented on #807
Thanks! I didn't know about it. In this way there is no problem.
I did:
[code]
And FlentAssertions work great!

[2018-03-20 19:59] #807 closed

[2018-03-22 10:31] ayb4btu commented on #805
I looked at the documentation though I'm not sure I'm understanding it correctly. Should I be adding `ComparingByValue` to the FluentAssertion like this:

[code]

or changing something about the `Vector2` class?

[2018-03-22 10:32] ursenzler opened #808 "What is your recommendation about where to specify global configuration"
With `AssertionOptions.AssertEquivalencyUsing(options => options.IncludingAllRuntimeProperties());` I can specify my global configuration. But where to define it best?

Some static constructor of some random type?

Any advice?

[2018-03-22 10:32] dennisdoomen commented on #805
Your example is fine.

[2018-03-22 10:34] dennisdoomen commented on #808
This is something I'm struggling myself with as well.

[2018-03-22 21:13] ayb4btu commented on #805
Just to confirm, my example should actually be:

[code]

as `ComparingByValue` uses the overridden `Equals` which means that this component

[code]

goes unused as it isn't relevant to the assertion?

[2018-03-23 05:53] dennisdoomen commented on #805
You're right. My bad.

[2018-03-23 11:24] #805 closed

[2018-03-23 11:27] ayb4btu commented on #805
Thanks, that's been helpful for learning some of the new FA5 functionality.

[2018-03-23 18:50] julealgon opened #809 "StringAssertions.ContainAll(param string[]) has incorrect param documentation"
I noticed today that the documentation for the `values` parameter on `StringAssertions.ContainAll(param string[]...)` overload is totally incorrect and seems to be referencing the documentation for the `NotContainAll` version.

[code]

For consistency, the documentation for `values` should read exactly the same as the other overload for `ContainAll`, like this:
[code]

[2018-03-23 20:30] julealgon opened #811 "`AndConstraint` not running on the same AssertionScope is potentially misleading"
I had the following code in one of our unit test:
[code]

Then, I thought that I could simplify this using `.And`, like this:
[code]

In a scenario where both assertions fail though, when running **the second version**, it **fails on the first assertion right away**, while **the first version will continue to report all failures aggregated**.

While I understood why this was happening (after a que

[2018-03-24 07:42] jnyrup commented on #809
Hi Juliano.

Thanks for pointing this out and submitting the fixing pull request.
Your help is appreciated.

[2018-03-24 07:42] #809 closed

[2018-03-24 09:43] melchiork opened #812 "The repo and NuGet descriptions are mismatched"
The repo description states

when NuGet one states

I think NuGet description to be correct. Also the is no mention of 4.7. Can this be addressed?

[2018-03-24 10:21] dennisdoomen commented on #812
You're right. Fixed that. The Nuget package has evolved beyond the repo ;-)

[2018-03-24 10:21] #812 closed

[2018-03-24 11:51] jnyrup commented on #781
Thanks for another contribution @melchiork .
They are very appreciated.

[2018-03-24 11:51] #781 closed

[2018-03-24 12:06] jnyrup commented on #446
The second method can be written with (now?) existing methods.

[code]

[2018-03-24 12:28] jnyrup commented on #475
@IgorVyatkin We did some performance improvements for 5.0.0, that delays the construction of the error message, so that it is only created if the test fail.
Maybe that eliminates the overhead you're experiencing?

If not, can you provide a working example that that have the bottleneck?

[2018-03-24 12:42] jnyrup commented on #743
@sw-carlin do these answers answer your question?

[2018-03-26 08:46] dennisdoomen commented on #811
I'll have to investigate that. The `AssertionScope` was introduced _after_ the chaining was made possible. Basically every assertion is now independent, unless you wrap it with an `AssertionScope`.

[2018-03-26 08:49] dennisdoomen opened #814 "Website Enhancements"
* [x] Ads on the bottom and top of each post
* [x] Separate block with the owners (explicitly mentioning @jnyrup) and most recent active contributors
* [x] Twitter feed
* [x] Icons or graphics as part of each block (like https://mmistakes.github.io/minimal-mistakes/)
* [x] Jetbrains logo must be more prominent
* [ ] List of articles from the community
* [ ] Links to news
* [ ] Add a 404 page
* [x]

[2018-03-26 13:12] j-maly opened #815 "LineBreaks in formatting"
I've noticed the useLineBreaks parameter in formatters.
How can i write an assertion that tells formatters to use line breaks? I couldn't find this in the docs, is there something like

x.Shlould().BeEquivalentTo(y, ??? f => f.UseLineBreaks())

[2018-03-26 13:17] dennisdoomen commented on #815
Well, I wouldn't verify it like that. I would only assert on the actual output of an assertion that fails with the correct failure message

[2018-03-26 13:27] j-maly commented on #815
Maybe I am not making myself clear, I am just interested on making the output more readable.

This assertion:

var a = new [] {"a", "b", "c", "d"}
var b = new [] {"b", "c", "d", "e"}

a.Should().BeEquivalentTo(b);

Prints something like:
Expected collection {"a", "b", "c", "d"} to be equivalent to "b", "c", "d", "e"}...

But it is not very readable when the objects in the collection are complex an

[2018-03-26 13:43] dennisdoomen commented on #815
The you need to override the formatter that handles collections.

[2018-03-26 13:50] j-maly commented on #815
This page
http://fluentassertions.com/extensibility/#rendering-objects-with-beauty
says the formatter should look at the value of context.UseLineBreaks.
I don't know how the user can set the value of context.UseLineBreaks.

[2018-03-26 14:01] dennisdoomen commented on #815
This is something that the assertion code uses internally. The `AssertionScope.UsingLineBreaks` can be used to instruct that the next failure message should use line breaks.

[2018-03-26 14:08] j-maly commented on #815
Aha, ok... well maybe this could be a feature :)

[2018-03-26 18:18] julealgon commented on #811
Ah, got it.

An option here would be to expose both an `And` and a `Then` "operator". `Then`, as the name suggests, would only run if the previous assertions passed (like the current `And` does), while `And` would change to execute all of them.

I feel that could improve the API quite a bit by intuitively integrating an `AssertionScope` on the statements based on the programmer's intent.

This wou

[2018-03-28 01:08] gabrielrb commented on #814
Hi @dennisdoomen .
I´ve noticed the site is down.
Could i help with something?
I´m a new user of fluentassertions (started today), and i´m curious about the docs. :)

[2018-03-28 05:11] dennisdoomen commented on #814
Hi @gabrielrb. Thanks for reporting. The site was in the process of becoming SSL-enabled, and I somehow screwed up the DNS settings. It should be back now.

[2018-03-28 06:59] dennisdoomen commented on #533
@IUsername check out https://www.fluentassertions.com

[2018-03-28 22:06] jmagaram opened #816 "IComparable<T> tests aren't rigorous enough"
Check out this terrible implementation of IComparable. My test passes even though my implementation of IComparable is flawed. When I'm trying to assert that a<b (and neither is null) shouldn't FluentAssertions validate that `a.CompareTo(b)` and `b.CompareTo(a)` also return values with opposite signs? And if I'm testing that a<=b then FluentAssertions should check that a<b too. Otherwise each compa

[2018-03-29 05:15] dennisdoomen commented on #816
Thanks for the feedback. What you are suggestion sounds like you are using FA to verify the correct behavior of an individual `IComparable` implementation. In that case, my personal opinion is to make that explicitly clear by defining separate test cases for each scenario. The support that FA offers for `IComparable` is just to be able to _use_ implementations of `IComparable`. In fact, in my own

[2018-03-30 12:01] basbossink opened #818 "Add version of StringAssertions.Contain that allows specifying the number of times a substring should occur."
Currently StringAssertions has no easy way of asserting that a substring should occur a particular number of times within a string. Imagine the syntax could be something like

    actual.Shoud().Contain("Fred", Twice, "Fred is important");

or

    actual.Should().Contain("Fred").Twice("Fred is important");

or

    actual.Should().Contain("Fred", 2, "Fred is important");

[2018-03-30 13:20] jnyrup commented on #818
How about the `Match` assertion?

This asserts that `actual` has at least two *distinct* `Fred`s in it.
[code]

I emphasize distinct because I feel it could be difficult to get such an API right.
E.g. does `aaa` contain `aa` one or two times?

Would `actual.Should().Contain(expectedSubstring, k)` mean that `actual` should contain `expectedSubstring` *exactly* `k` times or *at least* `k` times?

Ju

[2018-03-30 14:09] ivan-sam opened #819 "DateTimeAssertions BeCloseTo does not work with tick-differences"
Assertion BeCloseTo(DateTime nearbyTime, TimeSpan precision, string because = "", params object[] becauseArgs) xdoc says:

       Asserts that the current System.DateTime is within the specified time from the
       specified nearbyTime value.

        The maximum amount of time which the two values may differ.

As precision type is TimeSpan I expect this method is working with TimeSpan resolution

[2018-03-30 14:47] jnyrup commented on #819
Hi @ivan-sam .
Thanks for reporting this.
I can confirm both your test cases and the fix.

I'll implement your fix soon.

[2018-03-30 16:36] dennisdoomen commented on #815
How would that change the API?

[2018-03-30 20:37] #819 closed

[2018-03-31 03:56] IUsername commented on #533
@dennisdoomen Looks nice and thanks for the logo attribution tag in the corner.

[2018-04-01 03:27] ArdentLogician opened #821 "Event Monitor Doesn't Detect Events on Interface"
Given:

[code]

I would expect:

[code]

would be a reasonable test. Currently, the `Monitor()` extension method throws an exception saying the object has no events. From looking at the code, it would appear this is because it depends on the `Type.GetEvents()` method, which does not consider interface inheritance in its examination. As far as I'm concerned, that would easily be argued as a bug in

[2018-04-03 15:51] Gerboa opened #822 "collection.BeEquivalentTo(1, 2, 3) is order-dependant"
`BeEquivalentTo(params object[] expectations)` is order-dependant but the versions that take `IEnumerable` are not.

[2018-04-04 11:32] ronenfe opened #823 "Exceptions in .NetCore 2.0 tests, missing libraries."
In .net core 2.0 test:
System.IO.FileNotFoundException: Could not load the specified file. File name: 'Gallio' at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} System.IO.FileNotFoundException

Installing gallio 3.3.1 doesn't solve the problem because it gets many more exceptions, probably because it's not supported for .net core 2.0.

[2018-04-04 11:34] dennisdoomen commented on #823
So what library are you using?

[2018-04-04 11:36] ronenfe commented on #823
fluentassertions 5.2.0

[2018-04-04 11:39] ronenfe commented on #823
Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Reflection.AssemblyName assemblyName)	Unknown
 	[Native to Managed Transition]
 	[Managed to Native Transition]
 	System.Private.CoreLib.dll!System.Reflection.RuntimeAssembly.InternalLoadAssemblyName(System.Reflection.AssemblyName assemblyRef

[2018-04-04 11:43] ronenfe commented on #823
More exceptions:
{System.IO.FileNotFoundException: Could not load the specified file. File name: 'Machine.Specifications'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:
` 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(System.Reflection.AssemblyName assemblyName)	Unknown

[2018-04-04 11:44] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'nspec'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Reflection.As

[2018-04-04 11:49] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'MbUnit.Framework'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException
Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Ref

[2018-04-04 11:50] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'nunit.framework'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Ref

[2018-04-04 11:51] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'Microsoft.VisualStudio.QualityTools.UnitTestFramework'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gch

[2018-04-04 11:52] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'Microsoft.VisualStudio.TestPlatform.TestFramework'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchMana

[2018-04-04 11:52] ronenfe commented on #823
exception | {System.IO.FileNotFoundException: Could not load the specified file. File name: 'xunit'    at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName)} | System.IO.FileNotFoundException

Stack:

 	System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Reflection.As

[2018-04-04 11:57] basbossink commented on #818
Thanks for the explanation, in this case the `Match` assertion is a good alternative. The second suggestion is imho a little bit more readable. In my example I would expect `Twice` to mean exactly two times. I could also image something like:

    actual.Should().Contain("Fred").AtLeast.Twice("Fred is important");
    actual.Should().Contain("Fred").AtMost.Twice("Fred is important");
    actual.Sh

[2018-04-04 15:57] dennisdoomen commented on #818
It could work, provided that `Fred` does indeed exists in that `actual`. The successive checks would just apply additional checks. But then we should also add those extensions to all related assertions.

[2018-04-06 04:24] dennisdoomen commented on #823
This doesn't make sense. Is the test failing with those exceptions? Because if you check the stack trace, you'll see it seems to be raising the exception from the `IsAvailable` property of the `LateBoundTestFramework` class. However, that block of code is wrapped by a `try..catch` block. Check out LateBoundTestFramework

[2018-04-06 10:00] ronenfe commented on #823
Hi. The test isn't failing. Those exceptions are only shown when I check tbe checkbox to show all clr exceptions in exception setting window of vs. I think it shows exceptions that come from another library which are uncaught in the same library. I will try to pinpoint it next week.

[2018-04-06 10:08] ronenfe commented on #823
Ok. I see that it shows handled exceptions.https://stackoverflow.com/questions/116896/visual-studio-how-to-break-on-handled-exceptions
However, don't you think it's better to avoid  throwing exceptions if possible?

[2018-04-06 11:11] jnyrup commented on #823
For .Net standard < 2.0 there is apparently no clean way to this, for more information see https://github.com/dotnet/coreclr/issues/919#issuecomment-305090607.

Since .netstandard 2.0 `GetAssemblies()` is now available, so we should be able to improve it for that TargetFramework.

[2018-04-06 11:35] dennisdoomen commented on #823
@ronenfe Thanks for clarifying this. We'll use this issue to try to fix it specifically for .NET Core 2.0

[2018-04-06 11:36] dennisdoomen commented on #823
One more tip. Use the Just My Code debugger option to prevent the debugger from stopping in external libraries.

[2018-04-06 11:50] ronenfe commented on #823
Thanks Dennis. I'm aware of this option. But I prefer knowing if one of the libraries I use throws exceptions which I can fix in my code or report it, so I can report it, I've already discovered exceptions for some other libraries.

[2018-04-06 11:51] ronenfe commented on #823
Thanks Dennis. I'm aware of this option. But I prefer knowing if one of the libraries I use throws exceptions which I can fix in my code or report it, I've already discovered exceptions for some other libraries.

[2018-04-06 11:56] #823 closed

[2018-04-11 08:09] MartinDemberger opened #826 "BeEquivalent doesn't handle member of base type correct"
When I have a member with a base type and the subclasses have differences this isn't recognized correct.

I expect the following two tests to fail:

        public class Owner
        {
            public BaseClass Member { get; set; }
        }

        public class BaseClass
        {
            public string Name { get; set; }
        }

        public class SubClass1 : BaseClass
        {

[2018-04-11 09:28] dennisdoomen commented on #826
Nope. Your subject-under-test is of type `Owner` and you compare it with an `Owner`, so FA assumes that's what you intended. You can use `IncludingAllRuntimeProperties` to fix that. Also make sure you check out the documentation at https://fluentassertions.com/documentation/#object-graph-comparison

[2018-04-12 11:18] jnyrup commented on #808
If your unit testing frameworks support global setups, I would put it there.
E.g for `MSTest`

[code]

[2018-04-17 08:33] ursenzler commented on #808
xUnit does not provide global setup, but I'll try it with Fody ModuleInitializer...

[2018-04-17 12:51] PavelA85 opened #829 "Object reference not set to an instance of an object."
Version 5.2.0
Not sure what I am doing wrong but I get NRE here:

`
revisions.Single().Should().BeEquivalentTo(expected, opt => opt
.Excluding(x => x.Id)
.Excluding(x => x.SecretKey)
.Excluding(x => x.EmailMessage));`

`System.NullReferenceException
Object reference not set to an instance of an object.
   at FluentAssertions.Equivalency.AssertionContext`1.CreateFromEquivalencyValidationContext(IEq

[2018-04-17 13:06] PavelA85 commented on #829
When the assertion fails, I get an error.
When assertion passed I get NRE :)
hope this helps
class is nothing special:

    public class UserRevisionRendition
    {
        public Guid Id { get; set; }
        public Guid UserId { get; set; }
        public DateTime IssueDate { get; set; }
        public Guid SecretKey { get; set; }
        public DateTime? EmailSentOn { get; set; }
        public

[2018-04-17 13:32] PavelA85 commented on #829
5.1 throws.
5.0 throws.
4.19.4 do not throws.

[2018-04-17 20:53] jnyrup commented on #829
Can  you provide an example that throws?

Are you by any change using `AssertionOptions.AssertEquivalencyUsing`?
That was the problem in #778 .

[2018-04-17 20:54] jnyrup commented on #822
@Gerboa Can you provide an example that show the described behaviour?

[2018-04-18 12:39] Gerboa commented on #822
Sorry for the delay (on holiday), I've not been able to reproduce the problem; it's working **perfectly** now.

Apologies for the red herring.

[2018-04-18 12:39] #822 closed

[2018-04-18 13:10] dennisdoomen commented on #822
No problem. Thanks for taking the time to report this.

[2018-04-19 08:00] ursenzler commented on #797
I set the options globally with Fody ModuleInit: https://github.com/Fody/ModuleInit .

Thanks.

[2018-04-19 08:00] #797 closed

[2018-04-19 08:00] ursenzler commented on #808
I use Fody ModuleInitilizer for this now: https://github.com/Fody/ModuleInit

[2018-04-19 08:00] #808 closed

[2018-04-19 08:05] dennisdoomen commented on #808
I guess we need some feature based on some kind of interface and then use reflection to find the implementation.

[2018-04-19 08:27] jnyrup commented on #475
@IgorVyatkin [5.3.0](https://github.com/fluentassertions/fluentassertions/releases/tag/5.3.0) has been released, which includes optimizations specifically for `BeEquivalentTo`, see #817 .

If you have time to reevaluate the performance of Fluent Assertions on the aforementioned data, or provide the data, that would be very helpful. Thanks.

[2018-04-19 11:48] drauch opened #830 "Migrating from v4.x to v5.x - anything important to consider?"
We want to upgrade all our projects from 4.x to 5.x. Are there any pitfalls? Important things to consider? Incompatibilities we need to know of? Tips & tricks for migrating?

I have only found this article https://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html but I was hoping for something more substantial.

Best regards,
D.R.

[2018-04-19 11:52] dennisdoomen commented on #830
Check the last paragraph called _Upgrading tips_ and the comment. They might ease the burden.

[2018-04-22 22:06] TheAifam5 commented on #829
Other example:
[code]
The type of `result.Value` is `TimeEntryModel`.

[2018-04-23 06:33] jnyrup commented on #829
@TheAifam5 Your example suffers an unrelated problem.
Please open a separate issue or join the [Slack channel](https://fluentassertionsslack.herokuapp.com/) and I'll explain it.

[2018-04-23 15:24] Tragedian opened #834 "Controlling comparison options on sub-components of an object graph"
I use Fluent Assertions primarily for its ability to perform value-based comparison over object graphs. This is very useful when building systems which are primarily concerned with data-flow.

Whilst the `options.Include` and `options.Exclude` methods are able to trivially set up comparison rules for the top-level object of the graph, it can be a lot trickier to set them up for child nodes of the

[2018-04-23 21:21] flabordec opened #835 "AssertionScope does not work with GenericCollectionAssertions"
I would expect the following code to create two assertions, but it only creates one:

[code]

It seems to be widespread for most collection assertions:

[code]

I'm using FluentAssertions 5.3.

[2018-04-24 03:58] dennisdoomen commented on #835
The entire point of `AssertionScope` is to collect all assertion failures and throw them as one exception.

[2018-04-24 12:58] flabordec commented on #835
Exactly, so if it were working correctly, then the result would be two assertions captured:

[code]

But instead only the first exception is captured:

[code]

[2018-04-24 13:02] flabordec commented on #835
Note that this is some specific problem with the `GenericDictionaryAssertions<K,V>` class and with other collection assertions, like the array one.

The following code:
[code]

Will correctly capture the first assertion, and then bail after the second one:

[code]

[2018-04-24 14:55] CurlyFire commented on #584
I would also like this feature.  Btw @dennisdoomen, I love this framework.  I use it in every project.

[2018-04-24 21:17] jnyrup commented on #835
@flabordec Thanks for reporting this.
There is a bug in `ContainKey` where it tries to use the key even if it didn't exist, which caused a `KeyNotFoundException` and messing with the `AssertionScope`.

Just to be sure, you're only having problems with `Using(new AssertionScope)` when using `ContainKey` right?

[2018-04-24 22:04] flabordec commented on #835
Yes, and I found the same behavior at least with `BeEquivalentTo` as well, for example:

[code]

Only shows:

[code]

But I would expect it to show:

[code]

[2018-04-24 22:15] jnyrup commented on #835
Fluent Assertions gives different failure messages on `BeEquivalentTo` when the collections have same/different number of items.

[code]

outputs:
[code]

and
[code]

outputs:
[code]

So in your example `a` and `b` have a *different* number of items, while `b` and `c` have the *same* number of items.
`a.Should().BeEquivalentTo(b);` gives
[code]

and `b.Should().BeEquivalentTo(c);` gives:
[code]

[2018-04-24 23:47] flabordec commented on #835
Oh, I get it, I was expecting the messages to be separated by a new line or something but I understand that one now 😆

[2018-04-25 06:39] #835 closed

[2018-04-28 17:30] jnyrup commented on #834
Fluent Assertions supports creating and attaching custom implementations of `IEquivalencyStep`, which are used when trying to determine if two objects are equivalent.
* The feature is explained in the [document](https://fluentassertions.com/extensibility/), the [tests](https://github.com/fluentassertions/fluentassertions/blob/master/Tests/Shared.Specs/ExtensibilityRelatedEquivalencySpecs.cs) has s

[2018-04-29 08:03] jnyrup commented on #490
@shift-evgeny I've made some optimizations in #840 to reduce both the overhead when comparing generic collections in general, and even more for collections of value types.

In #817 I also made some optimizations and in particular e01e0d7c2a5debc64cc5cb013beaebfba8b55e08 should benefit `Equal`.
The subject collection is now only copied if the assertions fails.

Even with #840 merged you can still s

[2018-05-04 06:44] ursenzler commented on #808
But when do you want to execute this code?

[2018-05-05 03:09] SamerAdra commented on #170
Would love for this simple feature to be added.

[2018-05-05 05:41] dennisdoomen commented on #170
We welcome PRs ;-)

[2018-05-06 04:37] sw-carlin commented on #743
Yes @jnyrup , that is the behavior I am seeing. I thought FA would be able to access the variable value for the error message but apparently it can only do that for implicit values.

[2018-05-06 06:11] dennisdoomen commented on #743
Or you just call `list.Should().Contain(myNumber)`;

[2018-05-09 04:30] carlin-q-scott commented on #537
I use both profiles but I'm on my personal one way less frequently. Yes, the 5.0 release addressed my ask.

[2018-05-09 04:30] #537 closed

[2018-05-10 09:48] kierenj opened #844 "FluentAssertions.CallerIdentifier.ExtractVariableNameFrom - ArgumentOutOfRangeException"
NuGet version - 5.3.0

Exception:

[code]

Test code:

[code]

[2018-05-10 09:49] kierenj commented on #844
(Incidentally: I'm trying to recreate a minimal repro for a ContainInOrder failing with a list of value tuples. However, the test passes, so I'll keep trying - that's a separate issue)

[2018-05-10 10:13] kierenj opened #845 "Should().ContainInOrder() - false negative?"
Version: 5.3.0

Exception / failure message:

[code]

Code:

[code]

The exception seems to contradict itself - the collection does have those items?

[2018-05-11 13:25] jnyrup commented on #844
Thanks for reporting this.

I can't reproduce the exception from your example.
Does this fail *every* time for you?

While we haven't traced the exact cause, we have a "fix" in #841, which will be included in the next release.

[2018-05-11 13:44] jnyrup commented on #845
Please provide a complete example.
It makes it harder to debug, when one has to guess the type and content of `result.events`.

[2018-05-14 09:02] leomicheloni commented on #1
Hi, I'm apologize, I really wasn't able to implement the feature, it's just too complex for me :( .

[2018-05-18 09:55] mkhalast opened #846 "Traces of successful runs"
Traces should be available for successful runs as well to understand why assertions are not failing.

[2018-05-18 09:58] dennisdoomen commented on #846
You can if you use `WithTracing`.

[2018-05-18 10:15] mkhalast commented on #846
where do i find them? traces appear in test output on errors only
fluentassertions 5.3

[2018-05-18 10:18] mkhalast opened #847 "BeEquivalentTo never fails for Dictionary"
Dictionary<TEnum, TEntity>().Should().BeEquivalentTo(Dictionary<TEnum, TDTO>()) never fails

[2018-05-18 10:21] jnyrup commented on #847
Please provide a *complete* example.

[2018-05-18 11:52] mkhalast commented on #846
Visual Studio Test Runner output

successful test

[18.05.2018 14:43:02 Informational] ------ Run test started ------
[18.05.2018 14:43:06 Informational] [xUnit.net 00:00:00.9732457]   Discovering: Web.Tests
[18.05.2018 14:43:06 Informational] [xUnit.net 00:00:01.1599071]   Discovered:  Web.Tests
[18.05.2018 14:43:06 Informational] [xUnit.net 00:00:01.1772676]   Starting:    Web.Tests
[18.05.2018

[2018-05-18 12:03] mkhalast commented on #847
seems like a combination of ExcludingMissingMembers and incompatible objects

[2018-05-18 12:03] #847 closed

[2018-05-18 12:10] mkhalast opened #848 "BeEquivalentTo should support enum to int conversion"
Dictionary<TEnum: int, TEntity> comparison to Dictionary<int, TDTO> used to work in fluentassertions 4.x but not in 5.x
ComparingEnumsByValue or WithAutoConversion seems to have no effect

[2018-05-18 12:23] mkhalast opened #849 "Equivalency strategy"
It would be good to have a possibility to define custom strategy for equivalency rules and be able to operate with runtime types instead of manually registering a list of entities with ComparingByMembers<T> or ComparingByValue<T> at compile-time

[2018-05-18 12:37] mkhalast commented on #848
sorry about that, having a hard time cooking up an example in dotnet fiddle

`public class Entity
        {
            public int Id { get; set; }
        }

        public class EntityDTO
        {
            public int Id { get; set; }
        }

        [Fact]
        public void Dictionary_ShouldFail()
        {
            var expected = new Dictionary<int, object>()
            {

[2018-05-18 13:02] dennisdoomen commented on #849
Did you read https://fluentassertions.com/extensibility/?

[2018-05-18 13:03] dennisdoomen commented on #834
@Tragedian does this answer your question?

[2018-05-18 14:12] mkhalast commented on #849
yes, i have read it, thank you, but EquivalencyStep is an actual comparison and not just equivalency strategy. How do I decorate existing comparison than?

[2018-05-18 16:28] dennisdoomen commented on #848
Ah, unfortunately FA uses the key of one pair to find the value of another pair. It won't use the normal equivalency logic to find keys. That would result in some really weird and unpredictable behavior.

[2018-05-18 19:59] Tragedian commented on #834
I think I can use `IMemberSelectionRule` to achieve what I want, but I'm not clear on exactly how I would improve the test output.

[2018-05-22 18:33] maxcherednik opened #851 "Should throw API question/proposition"
### Description

Currently the usage of the `Should.Throw` construction in the context of the async method looks like this:
[code]

What if we had more idiomatic(in terms of the C# language) API of the `Should().Throw()` construction:
[code]

**Pros:**

1. Performance
async/await all the way - in the context of a usual unit test the benefit might be not visible, since most of the mocked dependenci

[2018-05-26 06:48] peterekepeter commented on #851
Running async actions is definitely useful for integration testing.

I'm sure a lot of folk have a lot of tests that don't want to rewrite, so maybe instead of breaking changes introduce a new ShouldAsync for async functions?

I dont see why Fail would need to be async as all it does is to throw an exception (not depending on any IO)

[2018-05-26 06:51] dennisdoomen commented on #851
Or a `Should().ThrowAsync<Exception>()`?

[2018-05-30 23:19] markdemich opened #855 "AllBeEquivalentTo not working with Generic Lists"
### Description

Comparing two identical generic lists using AllBeEquivalentTo failing.

### Complete minimal example reproducing the issue
[code]
NOTE: This is fails if I do this.
[code]
### Expected behavior:
I believe this should pass.

### Actual behavior:
Fails with a message that looks like this.
[code]
### Versions

* Fluent Assertions 5.3.2.0
* .Net 4.7.1

### Additional Information

[2018-05-31 04:47] dennisdoomen commented on #855
Thanks for reporting this and the great explanation. What you are asking FA to is to compare each item in the first list with the entire list. Instead, you should be using `list1.Should().BeEquivalentTo(list1);`. This was one of the (documented) breaking changes in version 5.

[2018-05-31 04:53] jnyrup commented on #855
Strictly speaking, it's also in the error message.
It expected `item[0]` to be equivalento to `{ Dto{...} }`, but found `Dto{...}`.
The outer curly braces is our way to format collections.
So it failed to compare `item[0]`, which is a `Dto`, to `{ Dto{...} }` which is a list of `Dto`'s.

[2018-05-31 15:27] markdemich commented on #855
The reason I was using AllBeEquivalentTo was because on my real test case BeEquivalentTo was actually passing for cases where they shouldn't be.  I thought I replicated with my example above, but I just tried changing it to BeEquivalentTo and it passed.  I then changed Value to 1234 in one of the objects and it did indeed break, so my test is not exactly replicating my issue.  I'm going to post my

[2018-05-31 17:18] jnyrup commented on #855
You're using `List<BlockContentItem>` and `List<InlineContentItem>` and insert `TextBlock`s, and `TextContentItem`s.
Per default `BeEquivalentTo` will use the compile-time types, so it will only compare the properties declared on `BlockContentItem` and InlineContentItem`.

To use the run-time types use [`RespectingRuntimeTypes()`](https://fluentassertions.com/documentation/#compile-time-types-vs-r

[2018-06-01 19:17] markdemich commented on #855
That did the trick. Thanks so much for the quick reply.  I'm going to close this.

[2018-06-01 19:17] #855 closed

[2018-06-06 13:18] GavinHohenheim opened #858 "Asynchronous ExecutionTime"
### Description ###
#### This is, for all intents and purposes, a feature request. ####

I would like to use `ExecutionTimeOf()` (or, even better, `ExecutionTime()` directly) with `Func<Task>` in addition to the usual `Action`, so that I can easily check the behavior of time-sensitive awaitable methods.

Currently I have to circumvent this problem through the use of `System.Diagnostics.Stopwatch`,

[2018-06-08 14:45] clegendre opened #859 "Please consider to add NetCoreApp2.0 targetting"
Hello,

Since Microsoft unlists a month ago _System.Reflection.Emit_ and _System.Reflection.Emit.Lightweight_ both 4.3.0 version (https://github.com/dotnet/corefx/issues/29365) you should consider to remove the target **netstandard2.0** and specify **netcoreapp2.0**... or at least add **netcoreapp2.0** to the list of all supported targets. (And maybe **netcoreapp2.1** ?)

In fact, I can no longer

[2018-06-08 18:35] jstachowiak opened #860 "Object graph comparison is broken when type implements IEnumerable?"
Hello!

When a type is a collection the comparison seems to ignore all other type members. Is this by design or am I missing here something? What is the best workaround for now? I'm using version `5.3.2`.

[code]

Thanks :)

[2018-06-10 06:30] #859 closed

[2018-06-10 14:09] dennisdoomen commented on #849
Does this answer your question?

[2018-06-11 17:49] jmagaram commented on #816
OK I get it.

[2018-06-11 17:49] #816 closed

[2018-06-12 10:18] skolima opened #862 "Race condition in SelfReferenceEquivalencyAssertionOptions.GetEqualityStrategy"
### Description

Race condition in SelfReferenceEquivalencyAssertionOptions.GetEqualityStrategy

### Complete minimal example reproducing the issue

Complete means the code snippet can be copied into a unit test method in a fresh C# project and run.
Minimal means it is stripped from code not related to reproducing the issue.

E.g.

[code]

### Expected behavior:

No exception, assertions work.

##

[2018-06-12 15:28] pavolgal opened #863 "ShouldBeEquivalentTo does not fail on members that are in the actual but not in the expected"
This issue is similar to https://github.com/fluentassertions/fluentassertions/issues/400 but from the other side.

I would expect that if my actual object has an additional member, a member that is not in the expected object, the assertion will fail with a message similar to "Actual object has member XXX that the expected object does not have."

Furthermore, this behavior makes EquivalentTo assert

[2018-06-12 17:39] dennisdoomen commented on #863
Thanks for taking the time to report this. Unfortunately, `BeEquivalentTo` was never designed to be symmetric. 9 out of 10 times people just use it to compare the subject against an anonymous object that only defines the properties that you care about in this particular unit test.

[2018-06-12 17:41] #848 closed

[2018-06-20 05:31] #862 closed

[2018-06-21 15:02] Meir017 opened #866 "fluentassertions website tips"
I'm working on the `fluentassertions.analyzers` project and I would like to have the ability to reference the actual website to show the improvement

Right not each test case is rendered in the following html
[code]
![image](https://user-images.githubusercontent.com/9786571/41727486-20d12b06-757d-11e8-8192-1c6caf9d24d5.png)

would it be possible to add an `id` attribute to each `table` element?

I

[2018-06-21 15:13] jnyrup commented on #866
The html is generated by [Jekyll](https://jekyllrb.com/) from this [template](
https://github.com/fluentassertions/fluentassertions/blob/master/docs/_includes/assertion-comparison.html) written in [Liquid](https://shopify.github.io/liquid/).

From the [Liquid documentation](https://help.shopify.com/themes/liquid/objects/for-loops#forloop-index) it seems easy by using the `forloop.index`

Something

[2018-06-21 15:17] Meir017 commented on #866
Looks to me I would need to add an `id` to each of test cases in the `tips` directory, am I right?

[2018-06-21 15:39] jnyrup commented on #866
That is not necessary.
Are you working on it?
Otherwise I almost got it working.

[2018-06-21 15:41] Meir017 commented on #866
I didn't start working on it yet, I'd be happy to see your solution 👏

[2018-06-23 21:44] ggimenes opened #868 "Should().Throw - Original exception doesn't be included in InnerException"
When I use `Should().Throw()`, the exception raised by my production code its not added as an `InnerException`.

**Reproduce Steps:**
- Create a test
- Call a code that's raise an exception
- wrap this call in a action and invoke the methods Shoud().Throw()

[code]

**Expected Behavior**
A `InnerException` filled with the original exception.
This will enable the clickable stacktrace feature in the

[2018-06-25 13:20] chrischu opened #871 "Error message generation does not work very well for throw cases"
### Description

When testing that some code should throw an exception the generated error message is not very helpful (especially when using `.And`).

### Complete minimal example reproducing the issue

[code]

### Actual behavior:

The resulting error message is:

The current error message is not helpful in several ways:
- The error message completely ignores the `.And` and does not mention the

[2018-06-25 13:51] dennisdoomen commented on #866
Now #867 is merged, can we close this?

[2018-06-25 14:08] #866 closed

[2018-06-27 12:39] ggimenes commented on #868
Hi, thanks for response!

The xUnit assembly is doing that. But, analysing FluentAssertions code, i think that information was lossed.
Look at the message created by Fluentssertions:

![image](https://user-images.githubusercontent.com/1730772/41974090-4d4216d6-79ed-11e8-8bd4-deb95767e9f7.png)

Now, look at this source code, it is organized like the stackTrace:

**XUnit2TestFramework.cs**

[code]

[2018-07-03 17:01] benjamin-bader opened #872 "Invoking should support Func<TInput, TResult>"
### Description

Properties are merely functions in disguise, and it would be useful to be able to assert on exceptions that they might throw, for example that accessing a property of a disposed object throws an `ObjectDisposedException`.

This doesn't work today because a simple lambda that accesses a property is compiled as a `Func<TInput, TResult>`, but there is no corresponding overload that c

[2018-07-03 17:05] benjamin-bader commented on #872
I have an extension method in my project to accomplish this which is very simple.  If there's agreement that this is a reasonable approach, and that this is a desirable feature, then I'd be happy to make a PR with this, tests, and documentation updates.

[code]

[2018-07-03 18:08] dennisdoomen commented on #872
You're not really _invoking_ a property. You're _reading_ it, or _getting_ it. Isn't it?

[2018-07-03 18:18] benjamin-bader commented on #872
You're correct, of course, but to me it seems a distinction without a difference.  A property, whether `invoked` or `read`, is still (potentially) custom code that is executed.

Do you think this would be better were it named `Getting` (or `Accessing` or `Reading`)?  I think that it would certainly read better, but I wonder whether it would be obvious what the method is used for.  Or why it would

[2018-07-12 03:44] ericnewton76 opened #874 "Collections.HaveElementAt object is doing reference equals and not checking for IEquatable"
### Description

(Collections).HaveElementAt is using System.Object.Equals for equality check, and not checking for IEquatable and invoking that if available.  Maybe there's a more appropriate method?

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

HaveElementAt looks at collection index 0, checks equality by invoking IEquatable since interface was present on T

[2018-07-12 03:51] ericnewton76 commented on #874
In the process of generating commit here to review actual test, will update this message when finished.

[2018-07-12 04:15] ericnewton76 commented on #874
ObjectAssertions.Be doesnt seem to check for IEquatable either
[code]

https://github.com/ericnewton76/RESTQuery/blob/1d2dbdc3f57d621e6fc64ccf833c76bd3e82d1b5/src/RESTQueryTests/QueryableExtensions_AddPaging_Tests.cs#L103

[2018-07-12 04:17] dennisdoomen commented on #874
Are you saying that your object implements `IEquatable`, but does not override `Equals`?

[2018-07-12 04:22] ericnewton76 commented on #874
Yes, just figured that out when I added `override Equals` to TestObj:

https://github.com/ericnewton76/RESTQuery/commit/b562191fe28e0712df3f65d5d9f4d5c0bccdc756

[2018-07-12 04:46] #874 closed

[2018-07-12 19:32] samiarahman commented on #845
We noticed the same issue. We only see it when we run the test in our pipelines

[2018-07-18 13:31] alterius opened #875 "Unable to assert ThrowsExactly<OperationCancelledException> in async method"
### Description

When attempting to assert `ThrowsExactly<OperationCancelledException>` in an async method a `TaskCancelledException` is thrown instead.

[code]

### Expected behavior:

Both example tests should throw an `OperationCancelledException `and report passed.

### Actual behavior:

The FluentAssertions test fails because a different `TaskCancelledException `is thrown.

### Versions

Flue

[2018-07-19 16:48] benaadams commented on #862
Added an issue to corefx so its easier to find information about this exception in search https://github.com/dotnet/corefx/issues/31186

[2018-07-19 20:57] mwasson74 opened #876 "TryConversionStep executing after Using statements"
### Description

It appears that the `TryConversionStep` is being executed after the `Using` statements.

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

The conversion from string to DateTime happens before the `Using` statements.

### Actual behavior:

Unit test fails with the following message:

### Versions

* Which version of Fluent Assertions are you using

[2018-07-24 12:42] Toudahl opened #877 "The non generic BeEquivalentTo throws a NullReferenceException"
### Description

When using BeEquivalentTo on an implementation of System.Data.IDataParameterCollection (a non generic collection) containing a list of System.Data.SqlClient.SqlParameter a null reference exception is thrown

### Complete minimal example reproducing the issue
[code]

### Expected behavior:

The assertion should be true.

### Actual behavior:

System.NullReferenceException: Object r

[2018-07-24 13:47] dennisdoomen commented on #877
Why does SqlParameter.IsNull throw? Sounds more like a problem with the classes you're comparing than a FA bug.

[2018-07-24 15:36] jnyrup commented on #877
From the current .net framework implementation of [SqlParameter](https://referencesource.microsoft.com/#System.Data/System/Data/SqlClient/SqlParameter.cs,70b309b2e92f9495,references)

[code]

Note: We currently do compare internal members, see https://github.com/fluentassertions/fluentassertions/issues/683#issuecomment-338394146

When `IsNull` is invoked `_internalMetaType` is apparently null (I c

[2018-07-24 15:58] jnyrup commented on #877
In fact, you don't even need a non-generic collection to hit the exception.

Take two generic lists of the interface `IDbDataParameter` which `SqlParameter` implements.
[code]

If not changed elsewhere
[code]

is equivalent to using [RespectingDeclaredTypes](https://fluentassertions.com/documentation/#compile-time-types-vs-run-time-types)
[code]

Executing this will pass, as it will compare the pr

[2018-07-24 16:14] dennisdoomen commented on #877
Hmm, should it look at `internal` properties in the first place?

[2018-07-24 19:00] jnyrup commented on #877
@dennisdoomen That depends.

For most cases I guess that internal members should not be compared.
I have a library project where I've exposed the internals to a unit test project.
Maybe someone would even like to compare private members?

I can't find anywhere we document that we compare `internal` members.
On the other hand:
https://fluentassertions.com/documentation/#including-properties-andor-f

[2018-07-24 19:22] jnyrup commented on #877
@Toudahl A much prettier approach for you:
[code]
or

[code]

[2018-07-24 19:38] jnyrup opened #878 "Add support for "private protected""
C# 7.2 added support for the new access modifier [`private protected`](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/private-protected).

This is used for the following public methods:
* `HaveAccessModifier`
* `NotHaveAccessModifier`
* `WhichSetterHas`
* `WhichSetterDoesNotHave`
* `WhichGetterHas`
* `WhichGetterDoesNotHave`
* `BeWritable`
* `BeReadable`

It would be ni

[2018-07-25 08:21] Toudahl commented on #877
Thank you for the quick responses.

@jnyrup
Your suggestion gives the same outcome for me.

I will stick to my current workaround, where i expose the internal list of the IDataParameterCollection implementation.

[2018-07-25 08:39] jnyrup commented on #877
@Toudahl I hope "same outcome for me" should be interpreted as "it also works around the problem for me".

Otherwise, here's a complete solution with my suggested workarounds
[ConsoleApp35.zip](https://github.com/fluentassertions/fluentassertions/files/2227159/ConsoleApp35.zip)

[2018-07-25 09:23] Toudahl commented on #877
I must have made a mistake when i tried it earlier today. It does indeed work as you say.

[2018-07-25 14:08] #877 closed

[2018-07-25 14:13] jnyrup commented on #475
I'm gonna close this, as both 5.0.0 and 5.3.0 includes several performances improvements.
If you have a complete test case or other information to help debug performance issues, feel to re-open.

[2018-07-25 14:13] #475 closed

[2018-07-25 15:30] jnyrup commented on #491
Closing this due to no response.
Feel free to re-open, if you have additional information that clarifies the question.

[2018-07-25 15:30] #491 closed

[2018-07-25 17:07] jnyrup commented on #572
Closing due to inactivity.
Feel free to re-open if it's still a problem.

[2018-07-25 17:07] #572 closed

[2018-07-25 17:10] #743 closed

[2018-07-25 17:13] jnyrup commented on #829
Closing due to inactivity.
@PavelA85 Please re-open if it's still a problem and you can provide a complete minimal example that we can run.

[2018-07-25 17:13] #829 closed

[2018-07-25 19:58] jnyrup commented on #530
Tried running this with v5.4.1
[code]

and got

A description of what happens:
`AssertEquality` detects `GenericDictionaryEquivalencyStep` is able to handle `Dictionary<string, DateTime>`.

When `AssertEquality` tries to find an appropriate user handler for the `context` with two `DateTimes` as `Subject` and `Expectation` created by `CreateForDictionaryItem`, `AssertionRuleEquivalencyStepAdapter.C

[2018-07-25 20:07] jnyrup commented on #845
Closing due to inactivity.
If you've got a *complete minimal example*, please re-open.

[2018-07-25 20:08] #826 closed

[2018-07-25 20:11] jnyrup commented on #569
Closing due to inactivity and several good descriptions/explanations of what might have caused the problem.

[2018-07-25 20:11] #569 closed

[2018-07-30 22:55] AlexanderSher opened #880 "CollectionAssertions.ByEquivalentTo fails with StackOverflowException"
### Description

For the instance of type `C : IEnumerable<C>` that returns itself in the enumeration, `ByEquivalentTo` causes `StackOverflowException`

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

Test passes

### Actual behavior:

Test runner crashes with `StackOverflowException`

### Versions

[code]

### Additional Information

FluentAssertions version 4.

[2018-07-31 10:56] frankschierle commented on #860
Im currently migrating from 4.0.0 to 5.4.1 and stumpled accross an issue that is probably related to this one.

The following code doesn't throw an exception in version 4.0.0:

[code]

In version 5.4.1 it throws an exception. When using `IEnumerable<Type>` no exception is thrown.

[2018-07-31 11:13] jnyrup commented on #860
@frankschierle From your code snippet it looks like you need to distinguish between [Compile-time types vs. run-time types](https://fluentassertions.com/documentation/#compile-time-types-vs-run-time-types).
To use runtime-time types instead of compile-time types, write `types1.Should().BeEquivalentTo(types2, options => options.RespectingRuntimeTypes())`.

If that is not the problem, please post th

[2018-07-31 12:54] frankschierle commented on #860
@jnyrup The compiler won't allow me to specify options, if  `expectation` is an non-generic `IEnumerable`.

[code]

Compiler error:
[code]

The overload of `BeEquivalentTo()` that accepts options, requires a generic `IEnumerable<T>`.

[2018-07-31 15:03] jnyrup commented on #860
@frankschierle I see.
You can use `types1.Should().BeEquivalentTo(types2 as IEnumerable<object>, options => options.RespectingRuntimeTypes());`
If that's not an option, please open a new issue as your issue is different from this.

[2018-07-31 15:47] jnyrup commented on #449
@jsmarsch When `subject.SelectedMemberInfo.Name == "AValue"` is true then `subject.RuntimeType` is not referring to `Child`, but to `string`, i.e. the type of `AValue`.
So when reaching the property `AValue`, you are not about to compare two `Child` instances, but rather two `string` instances.

While I don't think the `Using`+`When` API was designed with your type of comparison logic in mind, we

[2018-08-01 05:44] frankschierle opened #881 "Regression: CollectionAssertions.BeEquivalentTo() fails when comparing non-generic IEnumerable"
### Description

I'm currently migrating from 4.0.0 to 5.4.1 and stumbled across an issue that I first described at https://github.com/fluentassertions/fluentassertions/issues/860#issuecomment-409180066. I opened a new issue because it turned out, that this is not related to #860.

Using older versions of FluentAssertions (tested with 4.0.0) it was possible to compare a generic `
IEnumerable<T>` t

[2018-08-01 05:46] frankschierle commented on #860
@jnyrup That's almost exactly the workaround I'm currently using.

I opened a new issue (#881), because I think that's a regression.

[2018-08-01 05:50] dennisdoomen commented on #881
Why would you compare against an `IEnumerable`?

[2018-08-01 07:06] frankschierle commented on #881
I don't know why this originally was designed as IEnumerable in our code. We could replace the `IEnumerable` with an `IEnumerable<object>`, the effort wouldn't be that high.

Nevertheless, this is a regression. In other projects the effort might be greater.

[2018-08-01 17:50] nzkeith opened #882 "Add equivalent to xUnit's Assert.Collection"
### Description

xUnit has this:

[code]

In some situations I find this style more expressive and/or succinct than the FluentAssertions methods that assert collection equality or equivalence.

Assert.Collection signature:

[code]

### Proposed API

Per https://fluentassertions.slack.com/archives/C039Y2H7U/p1527880297000421

[code]

[2018-08-01 17:50] nzkeith commented on #882
Related to #118

[2018-08-01 17:51] nzkeith commented on #882
Original question on StackOverflow: https://stackoverflow.com/questions/50471950/fluentassertions-equivalent-to-xunit-assert-collection

[2018-08-01 17:53] nzkeith commented on #118
Related issue: #882

[2018-08-09 18:28] #530 closed

[2018-08-09 19:52] dennisdoomen commented on #880
After the #887 fix is merged your particular example will succeed simply because the subject and expectation refer to the same instance of `C`. To reproduce the cyclic detection problem, you would have to change the assertion to

`set.Should().BeEquivalentTo(new C(), new C());`

[2018-08-09 19:55] dennisdoomen commented on #876
I'm in doubt what would be the expected behavior. If I would provide some custom assertion rule, would one expect that to override any conversion rules. What do you think @jnyrup >

[2018-08-10 05:14] theprateik opened #888 "AsyncFunctionAssertions.NotThrow() showing only exception.Message"
### Description

With the current implementation of `FluentAssertions.Specialized.AsyncFunctionAssertions.NotThrow()` method, when the test fails, only the `exception.Message` is displayed from the original exception. I think it would be great to show `exception.ToString()` as a whole. Most of the time the `exception.Message` is not enough to understand the error; stack trace and others from the o

[2018-08-10 06:16] dennisdoomen commented on #888
It's a reasonable request. I remember making that decision based on this feeling that the `ToString` implementation usually returns a lot of noise.

What do you think @jnyrup?

[2018-08-10 13:08] KlawitterB opened #889 "OutOfMemory exception when using assertions on HtmlNodeCollection"
### Description

When trying to check an HtmlNodeCollection (HtmlAgilityPack) for NullOrEmpty we are getting an OutOfMemory exception. Upon quick investigation there seems to be an infinite loop in Formater.FormatChild method.

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

Assertion should fail with error message

### Actual behavior:

OutOfMemoryException

##

[2018-08-10 17:23] bcbeatty opened #890 "fluentassertions.com has expired"
fluentassertions.com has expired

[2018-08-12 15:32] dennisdoomen commented on #890
Fixed!

[2018-08-12 15:32] #890 closed

[2018-08-12 17:30] #880 closed

[2018-08-13 05:07] dennisdoomen commented on #888
OK. Let's do this.

[2018-08-13 19:20] jnyrup commented on #888
This has been fixed in #892.

[2018-08-13 19:20] #888 closed

[2018-08-13 21:13] jnyrup commented on #875
Some observations using NUnit 3.10.1 instead:

[code]

throws
[code]

and the dedicated `ThrowsAsync`

[code]

throws
[code]

When using another kind of exception, e.g. `ArgumentNullException` it works fine.

This special behavior for `OperationCanceledException` seems to stem from the source:
* https://referencesource.microsoft.com/#mscorlib/system/runtime/compilerservices/AsyncMethodBuilder.cs,6

[2018-08-17 22:38] robvanuden opened #897 "BeEquivalentTo shows enums as decimal in error message"
### Description
BeEquivalentTo shows enums as decimal in error message
[code]
`Expected member Color to be 1M, but found 0M.`

### Complete minimal example reproducing the issue

[code]

### Expected behavior:
`Message: Expected member Color to be Blue, but found Red.`

### Actual behavior:
`Message: Expected member Color to be 1M, but found 0M.`

### Versions

* FluentAssertions 5.4.1
* .NET Core

[2018-08-18 06:59] jnyrup commented on #897
Thanks for bringing this up.

The default behavior for comparing `enum` in `BeEquivalentTo` is to compare them by value.
That is, two different enums are considered equivalent if and only if there underlying values are equal.

If you want to compare the enums by name instead, you can use

[code]

which changes the failure message to

[code]

Getting back to your issue, I think the failure message

[2018-08-18 07:06] dennisdoomen commented on #881
Well, if we're going to avoid chaining at all, then we're going too far IMO. I remember that Visual Studio 2017 started showing all the intermediate values in a chained call in the debugger.

I'm 100% sure Rider does this as well. It suspect it's this setting that allows that (enabled by default):

![image](https://user-images.githubusercontent.com/572734/44296808-d1634100-a2c5-11e8-8661-b2b947a98

[2018-08-18 15:48] robvanuden commented on #897
Didn't know about `opt => opt.ComparingEnumsByName()`, but what you're saying all makes sense. Thanks for the information.

[2018-08-19 14:34] dennisdoomen commented on #815
Can I close this topic @j-maly? Or do you have more questions?

[2018-08-20 15:29] #889 closed

[2018-08-21 06:24] jnyrup opened #899 "Smarter formatting"
The `DefaultFormatter` recursively prints all non-private members of an object graph to a limit of 5 levels.
#889 showed that with a limit of 15 this could cause an OOM.

[code]

When I run the test, the failure message contains both the internal field `_ownerdocument` and the public property `OwnerDocument`.
OwnerDocument is just returning _ownerdocument.
https://github.com/zzzprojects/html-agili

[2018-08-21 06:27] dennisdoomen commented on #899
I think `BeEquivalentTo` is also including ìnternal` members because of the same shared `GetNonPrivateMembers` method and should be changed as well.

[2018-08-21 06:29] dennisdoomen commented on #899
I suggest to add some acceptance criteria:
* All include `public` properties and fields
* Include only `internal` properties and fields if FA was explicitly set-up to see those fields
* Don't include the same object twice

[2018-08-21 06:29] jnyrup commented on #899
If that's the case, yes.
The formatting should reflect the members we compare

[2018-08-22 04:38] chwarr commented on #808
Perhaps a completely different approach: could we come up with a way to scope `AssertionOptions`? Then, in xUnit, you could do something like this:

[code]

If this is already possible with something like `AssertionScope`, I could not see how to glue things together. Pointers here would be welcome.

[2018-08-22 05:34] dennisdoomen commented on #808
The problem with that approach is that it would need to keep that scope associated with that test. Without hooking into a specific technique a test framework may provide (if any), you'll need to resort on thread-static stuff. But since a lot of people using `async/await`, you can't make any assumptions about the thread something is running on anymore. In .NET 4.6, `AsyncLocal` was introduced, whic

[2018-08-22 06:11] jnyrup commented on #808
My gut feeling is that this should be handled by the unit test framework and not by FA.

* xUnit.net : https://xunit.github.io/docs/shared-context.html
* MSTest : https://www.meziantou.net/2018/02/12/mstest-v2-test-lifecycle-attributes
* NUnit : https://github.com/nunit/docs/wiki/SetUp-and-TearDown

[2018-08-22 16:10] chwarr commented on #808
I hadn't considered async methods. Agreed they'd complicate stuff. I don't have a better proposal either. Thanks for the details.

[2018-08-23 16:45] JeffRausch commented on #77
@dennisdoomen
Example on https://fluentassertions.com/examples/ still shows ComparisonMode being used.

[2018-08-24 05:48] #720 closed

[2018-08-24 15:12] sergey-rybalkin opened #902 "Add support for Span and ReadOnlySpan"
### Description

Add support for [Span<T>](https://docs.microsoft.com/en-us/dotnet/api/system.span-1?view=netcore-2.1) and [ReadOnlySpan<T>](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1?view=netcore-2.1). Though they do not directly implement `IEnumerable<T>` interface it would be nice to be able to assert using `NotContain` etc.

### Complete minimal example reproducing the i

[2018-08-26 18:10] sinapis opened #903 "Adding to Should().BeEquivalentTo() options.WithTracing() changes outcome of the test"
### Description

I got an error message which I think should not have happened, since the only difference is the order of the item and by default order shouldn't break equivalence. So I tried adding options.WithTracing() to understand what's going on, but then the test passes. This is the output without WithTracing():

### Complete minimal example reproducing the issue

[code]

### Expected behavi

[2018-08-26 19:38] jnyrup commented on #903
Three things are happening here, none of which are related to `WithTracing()`.

1. `actual.Should().BeEquivalentTo();` should be `actual.Should().BeEquivalentTo(expected);`
2. Fluent Assertions will use your overload of `bool Equals(object)` if available, and `Deal.Equals(object)` specifies that the order of items matters, as you use `Items.SequenceEquals(other.Items)`.
3. By default Fluent Assert

[2018-08-26 19:49] sinapis commented on #903
First, thank you for taking the time to look into my issue!
Second - Sorry, you are right. I had a typo there where I missed "expected".

However, I'm still seeing the same behavior with the test I pasted here (after adding "expected") - when running
`completedDeal1.Should().BeEquivalentTo(completedDeal2, opt => opt.WithTracing());  `
it passes while
`completedDeal1.Should().BeEquivalentTo(complet

[2018-08-26 19:54] jnyrup commented on #903
Have a look at my second bullet point.
`Deal.Equals` uses `SequenceEquals`, hence the order of items in `Items` matters to you.
 Fluent Assertions will not try to guess how to compare objects when you have explicitly specified how to compare them.

[2018-08-26 19:56] sinapis commented on #903
Thank you for pointing this out.
I understood that point, but I do not understand why would the test pass when I add WithTracing().
The test should have failed always, since the order is incorrect in both cases.

[2018-08-26 20:14] jnyrup commented on #903
That sounds like my third bullet point about compile time vs runtime types.
Here's the console application I ended up with when I was debugging your example.
There was no change in results when using `WithTracing()`.

[ConsoleApp47.zip](https://github.com/fluentassertions/fluentassertions/files/2321871/ConsoleApp47.zip)

[code]

[2018-08-26 20:48] sinapis commented on #903
Since your console application does not reproduces the issue, I do not think it can answer my question.

Attached is a minimal repro (well, as minimal as I could make it).
[Test.zip](https://github.com/fluentassertions/fluentassertions/files/2321901/Test.zip)

Can you please execute and let me know if you can see the problem on you machine?

[2018-08-27 06:43] jnyrup commented on #903
I see a difference in your example and without having looked at the internals of `WithTracing()` so far, I agree it looks suspicious.

But *please* make a minimal example.
* You didn't even remove the unused variables.
* Is the dependency on DeepCloner really necessary to reproduce the issue?
* I could e.g. remove the `Price` and tag property.

[2018-08-27 07:11] sinapis commented on #903
yes, deep clone is needed for repro.
I shaved off some more. only one property left on Dish. And Deal also have items.

Please let me know if now it's good enough.
[Test.zip](https://github.com/fluentassertions/fluentassertions/files/2322753/Test.zip)

[2018-08-27 16:53] jnyrup commented on #903
After shaving of the last noise I found the cause.

`actual.Should().BeEquivalentTo(expected, o => o.WithTracing())` resolves to the generic overload of `BeEquivalentTo`
uses

[code]

while `actual.Should().BeEquivalentTo(expected)` is resolved to a non-generic overload of `BeEquivalentTo`
[code]

The first one passes not because of `o => o.WithTracing()`, using `o => o` gives the same result, but

[2018-08-28 06:30] dennisdoomen commented on #77
Fixed it. Thanks for reporting.

[2018-08-30 06:29] Robelind opened #905 "Equivalency of enums"
[code]

### Expected behavior:
Test should fail.

### Actual behavior:
Test doesn't fail

### Versions
* Fluent Assertions 5.1.2
* .NET framework 4.6.1

[2018-08-30 06:45] jnyrup commented on #905
This is [intended behavior](https://fluentassertions.com/documentation/#ordering) for `BeEquivalentTo`.
In general to take the order into account, you can use:
[code]

In your particular example you can also use `Equal`
[code]

[2018-08-31 05:59] cbries opened #906 "Can I add "post actions" after (null).Should().BeNotNull() is triggered or any other FluentAssertions' extensions ?"
### Description
I use fluentassertions in UI tests, works great.
Do you provide any approach for adding callbacks in case FluentAssertions' extensions are triggerd?

For example, when I use the following snippet:
[code]
In case resWait is false I like to create a screenshot of the UI.

Can I register callbacks for this case somehow?
Globally would be great to keep the tests clean and simple.

[2018-08-31 06:26] dennisdoomen commented on #906
Unfortunately, no. There's an `AssertionScope` that takes an `IAssertionStrategy` that you could potentially use for this, but it's constructor is `private`. We would be open to a PR to change that though.

[2018-09-01 09:40] jnyrup commented on #849
Closed due to inactivity, please re-open if you have more to add.

[2018-09-01 09:40] #849 closed

[2018-09-01 09:40] jnyrup commented on #815
Closed due to inactivity, please re-open if you have more to add.

[2018-09-01 09:40] #815 closed

[2018-09-01 09:41] jnyrup commented on #617
Closed due to inactivity, please re-open if you have more to add.

[2018-09-01 09:41] #617 closed

[2018-09-01 09:43] #905 closed

[2018-09-01 10:07] jnyrup commented on #902
Thanks for opening this issue.
I'm not sure this is natively possible in the way Fluent Assertions works.

`Should()` works as a series of extension on types, e.g.

https://github.com/fluentassertions/fluentassertions/blob/646dd3ba45146c537b0d56e242d180936e8e22d0/Src/FluentAssertions/AssertionExtensions.cs#L513-L516

which saves the string as a member in a new `StringAssertions`

https://github.co

[2018-09-01 10:33] jnyrup commented on #830
@drauch I hope you've found what you needed to prepare and upgrade to 5.x.
If not, feel free to reopen.

[2018-09-01 10:33] #830 closed

[2018-09-01 10:39] jnyrup commented on #449
@jsmarsch As you asked this question over two years ago, I assume this question is no longer relevant for you, or that my post answered your question.
If not, feel free to reopen.

[2018-09-01 10:39] #449 closed

[2018-09-02 15:00] WilkaH opened #907 "Show location of difference when comparing two strings"
When using `string1.Should().Be(string2)`, if the strings differ it can be awkward to work out where the difference is for large string. E.g. if you're checking that building some json/xml/whatever-long-text works correctly.

<details>
 <summary>Click for example test output for xml text</summary>

[code]
</details>

At the moment, I'm copy & pasting from the test output into a diff tool so I can

[2018-09-05 20:07] jnyrup commented on #903
@sinapis The fixes I could come up with to solve your problem potentially breaks other peoples code.
We won't break code without bumping the major version and I don't imagine that will happen anytime soon.
For now you'll have to use a workaround if you want to avoid that `BeEquivalentTo` resolves to the non-generic overload.

[2018-09-05 20:07] #903 closed

[2018-09-11 13:06] Balfa opened #912 "Allow pattern matching in `SelfReferencingCollectionAssertions.Contain()`"
### Description

When casting items in a collection, I can either do `new object[] {"hi", "bye"}.Any(x => x is string s && s.Length > 2 && s.StartsWith("b")).Should().BeTrue();`, which misses out on the benefits of Fluent Assertions' rich error messaging, or I can do `new object[] {"hi", "bye"}.Should().Contain(x => x is string && ((string)x).Length > 2 && ((string)x).StartsWith("b"));`, which mis

[2018-09-11 13:45] jnyrup commented on #912
We use an `Expression<Func<T, bool>>` instead of a plain `Func<T, bool>` to give more descriptive failure messages by including [`predicate.Body`](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.lambdaexpression.body?view=netstandard-2.0#System_Linq_Expressions_LambdaExpression_Body).

Source: https://github.com/fluentassertions/fluentassertions/blob/master/Src/FluentAssertions

[2018-09-14 18:11] AlexanderSher opened #913 "AssertionScope.FailWith can't be told not to unescape line breaks"
### Description

In the error message, it is easier to compare strings when they are presented escaped. For example,
[code]
and
[code]

will look identical in the VS test result window if they are unescaped.

Right now, there is no way to tell AssertionScope.FailWith to not unescape the whole string or some part of the string because `MessageBuilder.Build` unconditionally calls `Unescape()`: https

[2018-09-16 14:51] drauch opened #914 "Assert that a large enumerable contains only the very same item n times?"
I have a collection of 100K sample numbers. In one test case I want to assert that all of them are of the same value. I tried:

    values.Should().AllBeEquivalentTo(5);

This takes quite some time (around five seconds). Which is WAY to long. Is this a bug in the implementation? Why is it taking so long? I think it's the wrong function, but I couldn't find a `.AllBe(5)` for which I was looking for

[2018-09-16 15:06] dennisdoomen commented on #914
It's a performance bug. The current implementation is using a very naive approach.

[2018-09-16 15:09] dennisdoomen commented on #913
@jnyrup maybe we should always display tabs and new-lines in their encoded form?

[2018-09-16 19:39] krajek commented on #914
@dennisdoomen Are you going to fix it or can I jump in?

[2018-09-17 04:36] dennisdoomen commented on #914
By all means, jump in

[2018-09-18 00:24] snekbaev opened #917 "NullReferenceException for collection BeEquivalentTo"
Hi,

following works with 5.4.1:
[code]

however, fails with 5.4.2:
[code]

Might be related to other open issues related to collections comparisons.

Thank you!

[2018-09-18 06:39] jnyrup commented on #917
Thanks for opening this issue.

It seems you're using several custom constructs, e.g. `DateTimeCloseToUtcNow` and `NoEmptyGuid`.
Can you provide a [complete, minimal and verifiable example](https://stackoverflow.com/help/mcve)?
That would help tracing down the issue.

[2018-09-18 09:10] shuebner opened #918 "BeEquivalentTo with WithStrictOrdering produces messy failure message"
### Description

Comparing collections with option "WithStrictOrdering" produces messy failure messages.

### Complete minimal example reproducing the issue
[code]

### Expected behavior:

Clear failure message about the difference between the lists.

### Actual behavior:

Confusing and malformatted message with wrong statements:

Expected item[1] to be a collection with 3 item(s)Expected item[1]

[2018-09-18 09:45] shuebner opened #919 "RaisePropertyChangeFor produces unhelpful failure message"
### Description

RaisePropertyChangeFor produces unhelpful failure message.

### Complete minimal example reproducing the issue
[code]
[code]

### Expected behavior:

Clear failure message including the property name of the PropertyChangedEvent that was expected, but not raised.
Maybe also a list of PropertyChangedEvents that were raised.

### Actual behavior:

Unreadable message without the prope

[2018-09-18 09:47] dennisdoomen commented on #919
Thanks for reporting this.

[2018-09-18 10:03] shuebner-zeiss commented on #919
You are welcome. I am trying to convince some people of using FluentAssertions and these buggy failure messages are not helping ;-)

[2018-09-18 12:56] BrunoJuchli commented on #393
This is caused by https://github.com/fluentassertions/fluentassertions/issues/337

[2018-09-18 20:00] krajek commented on #448
@TaffarelJr this issue is completed, isn't it?

[2018-09-19 04:57] krajek commented on #914
@drauch I have just tried to reproduce the problem with following test.
[code]
On my machine it always passes, even for more elements than 100K. Could you provide [minimal, complete and verifiable example](https://stackoverflow.com/help/mcve)?

[2018-09-20 05:07] #907 closed

[2018-09-20 21:50] ravensorb commented on #101
It looks like this doesn't work with Nullable Expressions?

This is not working
[code]

[2018-09-20 22:02] ravensorb opened #922 "double?.Should().BeApproximately is looking for a float?"
I am using 5.4.2 and trying to work with both double and double? type data elements

[code]

Shouldn't both work?

[2018-09-23 12:57] krajek commented on #922
Hi @ravensorb
I failed to reproduce your problem. Following code works for me for `5.4.2`. No compile-time nor runtime errors occurred.

[code]

Could you please prepare [minimal, complete and verifiable example](https://stackoverflow.com/help/mcve)?

[2018-09-23 13:07] ravensorb commented on #922
Which version of .NET were you compiling against?

[2018-09-23 18:02] ravensorb commented on #922
Here is a screenshot

![Screenshot](https://i.imgur.com/mPIBM6g.png)

And it is from the tests located here:
https://github.com/Invisionware/Invisionware.Net/tree/master/tests/Invisionware.Net.GeoCoding.Google.Tests

And they are being compiled against .NE 4.7.1 referencing a .NET Standard 2.0 project

[2018-09-23 18:49] krajek commented on #922
Thanks, you did not provide MVCE program, but I was able to analyze source code on github. It turns out that the problem occurs when both `subject` and `expected` are `double?`.
MCVE program is following:
[code]

[2018-09-24 19:14] jnyrup commented on #922
So your question is whether two new overloads of `BeApproximately` taking a nullable `expectation` should exist, namely

[code]

and

[code]

I can't think of an example where the first overload makes much sense as the `actual` value will never be `null`.

On the other hand, the second overload could be nice to have when doing equivalency comparisons.
E.g.

[code]

Of course, if any of these overl

[2018-09-25 05:52] dennisdoomen commented on #918
That would surprise me. I'm still fixing it by changing the way assertion scopes get chained.

[2018-09-25 16:26] KarlZ opened #924 "Does FluentAssertions need a dependency on System.Configuration.ConfigurationManager >=4.4.0 for .NETCoreApp v2.0?"
### Description

I get a NuGet error when trying to restore on the build machine. It says, "Package System.Configuration.ConfigurationManager 4.4.0 is not compatible with netcoreapp2.0 (.NETCoreApp,Version=v2.0). Package System.Configuration.ConfigurationManager 4.4.0 supports: - net461 (.NETFramework,Version=v4.6.1) - netstandard2.0 (.NETStandard,Version=v2.0) One or more packages are incompatibl

[2018-09-25 18:04] dennisdoomen commented on #924
What version of Nuget are you using?

[2018-09-25 18:32] KarlZ commented on #924
Detected NuGet version 4.1.0.2450 / 4.1.0

[2018-09-25 18:39] dennisdoomen commented on #924
I think you need at least 4.4.

[2018-09-25 19:59] krajek commented on #846
@mkhalast
Traces are written always if `WithTracing` is specified.
What may be confusing is the fact the `FluentAssertions` internally uses trace only when the assertion fails as part of the exception message. In other words, if the assertion succeeds there no "place" to put the text of trace. By default traces are only gathered in memory in a string builder.

Of course, you could "manually" gathe

[2018-09-25 20:03] KarlZ commented on #924
That did the trick! Thanks so much. I added a task in the pipeline called NuGet Tool Installer and set it to use NuGet 4.4.0 and the very next step, "restore" worked fine.

[2018-09-25 20:03] #924 closed

[2018-09-26 04:19] dennisdoomen commented on #924
Great to hear. The NuGet ecosystem can be quite confusing sometimes.

[2018-09-26 06:51] #914 closed

[2018-09-26 06:55] drauch commented on #914
Thanks!

[2018-09-27 04:59] #846 closed

[2018-09-27 05:03] #918 closed

[2018-09-28 05:57] krajek commented on #446
@sbrickey would you agree that the issue can be closed? It seems that what you requested can be achieved using currently existing functionality.

[2018-09-28 08:48] jnyrup opened #930 "NRE when expectation is a Dictionary and subject is null"
### Description
We have a bug, where a `NullReferenceException` is thrown if the expectation is a dictionary type and the subject is null.

For other enumerables `GenericEnumerableEquivalencyStep.AssertSubjectIsCollection` checks if the subject is not null.

There is no such check in `GenericDictionaryEquivalencyStep` and `AssertIsCompatiblyTypedDictionary` will throw an NRE on `subject.GetType()`

[2018-09-28 08:53] MateuszStepniak commented on #535
This is such a common task while writing miscroservices that it definitely would be awesome to have this feature.

[2018-09-28 17:57] #446 closed

[2018-09-28 18:34] krajek commented on #906
@cbries could you describe your use case in detail, please? Do you want to register some code to be run for any failed test? Are you sure that test frameworks themselves do not have this kind of callbacks built-in?

[2018-09-28 18:37] krajek commented on #897
@dennisdoomen can we close this one?

[2018-09-29 05:13] eNeRGy164 commented on #906
I guess he wants something like:
`resWait.Should().BeTrue().Otherwise(() => webDriver.TakeScreenshot());`

[2018-09-29 07:31] robvanuden commented on #897
Agree, thanks @krajek!

[2018-09-29 07:31] #897 closed

[2018-09-29 08:03] cbries commented on #906
@krajek Sure the unittest framework some support that case (somehow). But between the exception and the finalization of the unit test our UI can change completly -- because time is crucial and context changes within the UI are very important and most of our cases (when issues are reported by our customers) depend on the UI state and which toolwindows or editors are open. By the way... how do I kno

[2018-09-29 16:42] krajek commented on #917
@snekbaev I tried to take a look at the code but the method (in fact whole class) was not changed between `5.4.1` and `5.4.2`. I am willing to help you but we need more details.

[2018-09-29 19:48] krajek commented on #872
I like this feature, I would certainly use it myself. 👍
@dennisdoomen Can we settle on `Getting` and move on to implementation?

[2018-09-29 20:39] krajek commented on #912
@Balfa could we close this issue?
There is no practical solution, at least for now. If you would resign from `Expression` then we would lose descriptive failure message anyways. In fact, it is the c# compiler that limit's the functionality, not FluentAssertions.
Nonetheless, you raised an interesting question, thanks.

[2018-09-30 00:09] Balfa commented on #912
Yes, that makes sense. Thanks.

[2018-09-30 00:09] #912 closed

[2018-09-30 10:33] dennisdoomen commented on #872
Yep. I like that one as well.

[2018-09-30 17:55] jnyrup commented on #872
The proposed function signature is more general than for only properties.
Which is why I dislike naming it `Getting`, as it only *might* be property read.

To use the feature, one would have to write
[code]

even though you aren't just *Getting* a value, as in returning the value of a backing field.

For this to be really good, I'd like the method to return a `Func<TResult>` instead of an `Action`

[2018-10-01 05:28] #851 closed

[2018-10-01 06:32] #930 closed

[2018-10-01 06:45] dennisdoomen commented on #872
Hmm, I don't entirely get your objections here. We could even use that to enhance the code that tries to detect the name of the property and set the `context`

[2018-10-01 08:17] #878 closed

[2018-10-01 08:51] jnyrup commented on #872
As I understand the notation of `Get` it is mainly intended for getters, such as properties that only returns the value of the underlying backing field or methods that does very little computation.
For other scenarios, e.g. IO operations, `Find` or `Load` might be more proper prefixes.

`Func<T, TResult>` can match a property, where `Getting` would be a fine name, but it also matches many other ca

[2018-10-01 18:55] krajek commented on #263
Although I recognize the possible usefulness of the idea, I think by now we have enough tools to help us identify the failed assertion.

- First of all, there is subject identification. As far as I understand it was not available three years ago.
- Secondly, there is the `because` parameter?
- Lastly, unit test runners automatically point you to the line that threw the exception.

@mika76 Would yo

[2018-10-02 05:18] mika76 commented on #263
@krajek it seems subject does exactly what I originally wanted. This is great! Will close.

[2018-10-02 05:18] #263 closed

[2018-10-02 06:12] #548 closed

[2018-10-02 11:40] pentp commented on #475
This is still a problem with 5.4.2 - about half of our test execution time is spent in `LambdaCompiler.Compile` (which is mostly called from `GenericEnumerableEquivalencyStep.Handle`, `GenericDictionaryEquivalencyStep.AssertSameLength`+`AssertDictionaryEquivalence`).

Why use `LambdaCompiler.Compile` at all if the result isn't cached and the only operation is to invoke a method dynamically? Simple

[2018-10-02 19:55] krajek commented on #376
@dennisdoomen my suggestion is to close this Issue as "won't fix".
Proposed syntax:

- isn't more readable, even less for my taste
- would be PITA to implement because we would need an overload for each arity of `Action (<T>, <T1, T2> etc.)`
- the goal of the feature could be easily implemented like this:

[code]

@HisRoyalRedness just asking: would you be cool with closing?

[2018-10-02 20:05] HisRoyalRedness commented on #376
Yup, cool to close it

On Wed, 3 Oct 2018, 08:55 Artur Krajewski, <notifications@github.com> wrote:

[2018-10-02 20:16] #922 closed

[2018-10-03 04:17] dennisdoomen commented on #376
Agreed

[2018-10-03 04:17] #376 closed

[2018-10-03 22:01] Kikimora opened #937 "BeEquivalentTo + Excluding does not work with structs and classes overriding Equals"
FluentAssertions 5.4.2, .net 2.1

`tt1.Should().BeEquivalentTo(tt2, o => o.Excluding(x => x.Field1));` does not work for `struct`. See test case below that demonstrate it works for class with fields but does not work for structs with fields.

[code]

[2018-10-04 01:11] Kikimora commented on #937
I guess this happens because FluentAssertions compares structs as other value types using Equals and ignores `o => o.Excluding(x => x.Field1)` configuration.

[2018-10-04 05:11] dennisdoomen commented on #937
Your assumption is correct. You should be able to change that using the `ComparingByMembers` option.

[2018-10-04 13:00] Kikimora commented on #937
I find this quite counterintuitive, I think `ComparingByMembers` should be on by default for structures.

[2018-10-04 13:17] dennisdoomen commented on #937
I disagree. See https://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html#redefining-equivalency

[2018-10-04 22:01] Kikimora commented on #937
You making sound point, that types which override `Equals` should be compared with `Equals`. This unfortunately comes with inconsistency, since suddenly `o => o.Excluding(x => x.Field1)` does not work for structs for no apparent reason. Either exception should be thrown or assertions can switch to `ComparingByMembers` automatically when user request `Excluding` or similar option. I think that woul

[2018-10-05 04:14] dennisdoomen commented on #937
Hmm, I see your point. I need to think about that.

[2018-10-06 18:53] frederik-h opened #940 "NotThrow with wait time"
As far as I know, fliuentassertions contains no equivalent to NUnit's [DelayedConstraints](https://github.com/nunit/docs/wiki/DelayedConstraint) which allows to specifiy that a condition should be satisfied after a certain wait time.
I am using an overload of ActionAssertions.NotThrow which takes additional waitTime and pollingInterval parameters to achieve a similar effect. That is, it repeatedly

[2018-10-06 18:53] krajek commented on #738
I will tackle the problem. Any comments before I start? Is there any test that reproduces the behaviour? Is it only about duplication in the description or the behaviour itself is also affected?

[2018-10-06 19:37] dennisdoomen commented on #940
Could you give us an example of what this would look like?

[2018-10-06 19:38] dennisdoomen commented on #738
It's purely a cosmetic issue.

[2018-10-07 06:42] #858 closed

[2018-10-07 09:12] frederik-h commented on #940
@dennisdoomen Sure. Let's consider the following artificial example:

[code]

Here the assertion would succeed and return after about 1000ms since the Action stops throwing an exception after 1000ms. The second argument of NotThrow is the polling interval, i.e. the Action will be executed every 50ms until it succeeds or the maximum wait time of 1100ms is exceeded.

If we change the Action to throw

[2018-10-08 10:49] frederik-h commented on #940
Sure, it has to be decided what should be used to achieve the delay in the implementation. I currently use `Task.Delay` for this. Another question is what would be the best name for the method? Should it be an overload of `NotThrow` or would `NotThrowAfter` be clearer?

[2018-10-08 16:58] dennisdoomen commented on #940
I like `Should().NotThrowAfter`

[2018-10-11 05:16] jnyrup commented on #738
@krajek I guess this can be closed with #941 ?

[2018-10-11 06:32] #738 closed

[2018-10-11 12:48] dennisdoomen commented on #876
@jnyrup ?

[2018-10-11 17:08] jnyrup commented on #876
I wouldn't expect custom assertion rules to override existing conversion rules.
I would expect that after failing all existing conversion rules, the code would try my custom rule.

For this particular example, here's how I imagine the code should behave:
1. If both `subject` and `expectation` are `DateTime`s, use the `Using`
2. As `WithAutoConversion` is enabled, try to convert `subject` into the

[2018-10-16 16:51] georgiosd opened #947 "Why isn't there a GenericObjectAssertions<T> type?"
Hey guys,

I would swear this was always there but I guess I don't remember it correctly.

Right now we can do `o.Property.Should().Be(x)` but not `o.Should().Match(x => x.Property == x).And...`

I seem to remember there was a `ShouldHave` API that could do this?

Thanks

[2018-10-16 17:35] jnyrup commented on #947
There are two overloads of `Match` in `ReferenceTypeAssertions`

[code]

You probably just need to specify the type to hit the desired overload.

[code]

[2018-10-17 10:35] MikeRichardsLogit commented on #584
I would also like this feature! Needed to use it today and spent ages trying to think of a work around.

[2018-10-17 17:16] matthiaslischka commented on #584
Just some days ago a took a quick look at the code and how this could be archived. Not as straight forward as I was hoping for.
The problem is that the EquivalencyValidator throws an Exception as soon as an object is not equal. So iterating through the collection and waiting for at least one equal object would require an ugly try catch block or some mayor refactoring.

@dennisdoomen If you could g

[2018-10-17 20:52] dennisdoomen commented on #584
You can wrap that code in an `AssertionScope` and use the `DiscardFailures` method.

[2018-10-19 04:28] eajhnsn1 commented on #940
I am also struggling to test some asynchronous code.  Along the lines of NotThrowAfter, would it be possible to do something like the following, to gain delayed assertions?:

Should().Eventually(timeout).AllOtherAssertions().

[2018-10-21 16:39] drauch commented on #914
Are you going to release this soon? :)

[2018-10-21 16:43] jnyrup commented on #914
Yes, we're fixing up the last things to get 5.5.0 ready.
https://github.com/fluentassertions/fluentassertions/milestone/12

So stay tuned, we're also eager to get out a new release.

[2018-10-22 11:51] jnyrup commented on #947
@georgiosd Does this answer your question?

[2018-10-22 11:59] georgiosd commented on #947
Hey, sorry that I didn't follow up. It does, but explicitly defining the type in `Match<T>` seems very tedious.

Wondering how this hasn't come up before! Maybe I'm somehow an edge case :)

[2018-10-24 04:45] huferry opened #952 "BeEquivalentTo() doesn't work when the class overrides Equals()"
### Description

Comparing two object with different classes having the same properties using BeEquivalentTo() does not work (i.e. will always fail the assertion) when one of the classes overrides Equal() method.

### Complete minimal example reproducing the issue

E.g.

[code]
On the above example, the test will pass if I remove Kitten.Equals(..).
### Expected behavior:

Test should pass.

### Ac

[2018-10-28 09:40] georgiosd commented on #947
Ah, that makes sense. Because there's no constraint that could enforce non-IEnumerables.

What if there was a method in `ObjectAssertions` that would specialize it? Like `As<T>` but only for this purpose?

[2018-10-28 09:45] jnyrup commented on #947
A specialization as in the existing `Match<T>()` assertion?

If you mean something like
[code]
then I prefer the current (and shorter)

[code]

[2018-10-28 09:47] georgiosd commented on #947
One that will trickle down the chain:

`Should().As<T>().Match(...).Match(...)`

or even

`Should<T>().Match(...).Match(...)`

[2018-10-28 10:46] jnyrup commented on #947
One could maybe do something like

[code]

That would be beneficial for
[code]
as the right `TSubject` would be picked up

but worse(?) for
[code]
as those are then "restricted" to `TSubject` instead of `object`.

[2018-10-29 05:34] georgiosd commented on #947
Yes, I see.

But if it's a secondary method like `As<T>` then it shouldn't be a problem right?

[2018-10-30 14:33] thepinkmile opened #954 "Type.Should().Be(Type) doesn't support open generics"
I would expect this:
[code]
to succeed.

Instead it fails with message:

Expected type to be ICustomInterface`1, but found ICustomInterface`1[[System.Int32, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]].

I believe this is related to the change made for: #458

P.S. Workaround for now:
[code]

I am also using this in a few "And" constraints which forces me to do:

[c

[2018-10-30 15:37] jnyrup commented on #954
Thanks for raising this issue.
First of all to assert on the type of an object you should probably use one of
[code]
to test that `response` is assignable to `TType`.

The changes related to #458 added support for open generic when using `BeOfType()`.

Here are my findings:

First let's see how Fluent assertions behaves for non-generic types to establish a baseline.
[code]

And the results for doi

[2018-10-30 17:14] thepinkmile commented on #954
Thanks for the quick response.

I did originally try the `BeAssignableTo(typeof(...))` methods which failed. Then did an issue search and saw #458 which probably confused me into using `Be(...)`.

I am assuming the changes for this would be similar to the referenced issue.
If I have time I might take a look at adding the required changes if no one else gets to it first and create a Pull Request fo

[2018-10-30 18:02] izzycoding commented on #954
Just looking at my test code and it appears (at least to me) that I am using the correct method.
Although my example does a `.GetType()`, I am actually testing properties of a ServiceDescriptor.ImplementationType which is a Type object and not an actual object.

[2018-10-30 18:15] izzycoding commented on #954
An example of above (requires Microsoft.Extensions.DependencyInjection.Abstractions):

[code]
As i’m On train home I cannot compile and test this, but based on my observations previously, I assume this would fail.

[2018-10-31 01:36] mdonoughe commented on #954
This sounds straightforward when the subject type is a constructed generic type of the test generic type definition.

However, if the subject type is a different type which just implements or derives from the test generic type the problem it gets more complicated.

[2018-10-31 02:00] mdonoughe commented on #954
Should BeDerivedFrom also support open generics?

[2018-10-31 14:25] dennisdoomen commented on #954
I think so. If you derive from `PresentationModel<T>`, it should still work.

[2018-10-31 22:22] mdonoughe commented on #954
What about `typeof(PresentationModel<T>).Should().BeDerivedFrom(typeof(PresentationModel<>))`?

[2018-11-03 17:45] mdonoughe opened #956 "IsEquivalentTo and BeEquivalentTo do not handle member hiding"
### Description

I noticed the implementation for IsEquivarentTo in TypeExtensions considers two members to be equivalent if they have the same name and the declaring type of either property is the same _or inherits_ the type of the other property. This is incorrect due to member hiding.

### Complete minimal example reproducing the issue

E.g.

[code]

### Expected behavior:

`Main` should execut

[2018-11-03 19:29] dennisdoomen commented on #956
Nice catch.

[2018-11-05 21:13] dennisdoomen commented on #956
Pfew, this proofs to be much more complex to fix than I thought. Just saying...

[2018-11-07 08:59] jochenjonc commented on #952
I have the same problem, but I solved it by using `ComparingByMembers<T>`. Your code would look like this:

[code]

[2018-11-07 09:30] hellboy81 opened #961 "File and stream assertion"
Is there possible to port [FileAndStreamAssertionsExamples](https://github.com/joel-costigliola/assertj-examples/blob/master/assertions-examples/src/test/java/org/assertj/examples/FileAndStreamAssertionsExamples.java) to FluentAssertion?

Assertion two files are (not) same with **diff feature** is important.

Diffs respecting xml structs are welcome

[2018-11-07 13:31] dennisdoomen commented on #952
This is by design. From the [documentation](https://fluentassertions.com/documentation/):

[2018-11-07 13:39] dennisdoomen commented on #961
You can create your [own extension](https://fluentassertions.com/extensibility/) and propose a PR.

[2018-11-07 14:04] hellboy81 commented on #961
own extension is may be not required due on [XMlUnit](https://github.com/jovaneyck/XmlUnitDemo)

[2018-11-07 17:14] #956 closed

[2018-11-09 10:43] mkolumb commented on #818
Hi,

I would like to do this.
But I think we should do it using the following api
`actual.Should().ContainExactly("Fred", 2, "Fred is important");`

API proposed above is more readable, but I think it will be a breaking change.

[2018-11-09 10:50] mkolumb commented on #818
Of course I can implement other similar methods like e.g. `ContainAtLeast` if proposed API will be accepted.

[2018-11-09 13:13] dennisdoomen commented on #818
I personally prefer the proposal of @basbossink

[2018-11-09 14:20] jnyrup commented on #818
We could do something similar to FakeItEasy's [assertion syntax](https://fakeiteasy.readthedocs.io/en/stable/assertion/):

[code]

I'm still interested in the discussion about whether "aaa" contains "aa" two or three times.

[2018-11-09 14:42] mkolumb commented on #818
Good point.
I think that "aaa" contains "aa" only once.
Imagine you have 3 apples.
If you want to give someone 2 apples, you can do it only once.

[2018-11-09 17:07] mkolumb commented on #818
I have one more proposal

[code]

[2018-11-09 19:09] snekbaev commented on #917
@krajek @jnyrup sorry for the delay :)

Noticed version 5.5 which also has failed for me. Actually more failing tests, I think there are some breaking changes with Func<Task> act .Should().Throw handling. Seems like it is not waiting. Will check those after main issue is resolved.

Here is a snippet I made in LinqPad:

[code]
this passes with 5.4.1 and fails with 5.4.1+.

Thank you!

[2018-11-09 19:31] frederik-h commented on #940
@eajhnsn1 It should be possible to implement a variant of `Should().NotThrowAfter` which works for `Func<Task>`, although that is not part of the current proposal. Would that help?

[2018-11-09 20:50] dennisdoomen commented on #818
I still prefer the more fluent proposal of @basbossink

[2018-11-09 20:52] jnyrup commented on #917
Thanks for the example, I can now reproduce your problem.

From the XML summary of `SelectedMemberInfo`

When `BeEquivalent` applies then `When` on the root, `SelectedMemberInfo` is `null` and `.Name` throws an NRE.

I can confirm that this behavior changed from 5.4.1 to 5.4.2 and that is it due to #886.
@dennisdoomen can you comment on whether that change in behavior is intended?

There are two i

[2018-11-09 20:55] mkolumb commented on #818
I understand.
If I should implement this version, the problem of current `Contain `method still exists.
How I should solve this?
And the second issue is mentioned by @jnyrup

[2018-11-09 20:56] jnyrup commented on #954
Support for open generic was contributed in #955 and released with Fluent Assertions 5.5.0.

[2018-11-09 20:56] #954 closed

[2018-11-09 20:59] dennisdoomen commented on #917
Hmm, I need to check the example. I do know that #886 fixed the problem that the custom rule was not even executed. So this potentially new bug may have already existed.

[2018-11-09 21:15] jnyrup commented on #961
@hellboy81 We will not take a dependency on `xmlunit`.

As mentioned, you are welcome to either create your own extension which may be depend on `xmlunit` or propose a PR without the dependency.

If you're not comfortable with implementing an extension, please list what features you'd like to see.
E.g.
[code]
Then somebody else might see the usefulness in those assertions methods and contribute th

[2018-11-09 21:48] mkolumb commented on #818
In case of `Contain` method problem I see 2 solutions:
1. Assumption that `Contain` should throw **always**  if expected string wouldn't be found (leave as it is)
2. Replace the current `Contain` by something like that `actual.Should().Contain("Fred").Any`

Personally, I think that FluentAssertions should be careful when introducing breaking changes.
So my suggestion is to implement 1 version.

I

[2018-11-12 12:12] mkolumb commented on #818
Hi guys, I created the pull request #962

[2018-11-12 15:31] eajhnsn1 commented on #940
What I have in mind wouldn't involve any exceptions.  The code being tested is performing some other wait, which should completed after no more than X time has passed.

Having never looked into the internals of FluentAssertions, I don't even know if the following makes sense, but is what I would want Should().Eventual(timeout).AllOtherAssertions() to do:

- Periodically run AllOtherAssertions
  -

[2018-11-12 18:37] frederik-h commented on #940
What you describe sounds like `NotThrowAfter` (for synchronous code). To see this, it is necessary to understand that a failing assertion raises an exception. This means you could implement the described behavior by writing something like `(() => AllOtherAssertions()).Should().NotThrowAfter(timeout, pollInterval)`.

[2018-11-14 17:44] dennisdoomen commented on #917
I can confirm that `SelectMemberInfo` is supposed to return `null` if the current object is representing the root object. See also the comments on the property [here](https://github.com/fluentassertions/fluentassertions/blob/7738a652886af2e2ca0918ce71b197f7e06d8441/Src/FluentAssertions/Equivalency/IMemberInfo.cs#L14). The problem was that the `When` block was never called. This was fixed in #886.

[2018-11-14 17:44] #917 closed

[2018-11-15 01:22] jeremyw5 opened #964 "Using Should().Throw() with Func<T> fails after upgrading to version 5.5.0"
### Description

After upgrading FluentAssertions from version 5.4.2 to 5.5.0, usage of Should().Throw<T> with async method does not yield expected behavior. The following code example functions as expected with version 5.4.2.

### Complete minimal example reproducing the issue

[code]

### Expected behavior:

The assertion for the thrown exception passes.

### Actual behavior:

The assertion for

[2018-11-15 06:31] dennisdoomen commented on #964
Looks like #951 broke the overload resolution. That's unfortunate.

cc @krajek @jnyrup

[2018-11-15 06:34] krajek commented on #964
I will take a look in the evening.

[2018-11-15 06:42] dennisdoomen commented on #964
The problem is that the new overload that takes a `Func<T>` will always overrule the `Func<Task<T>>`.

[2018-11-15 07:40] krajek commented on #964
I haven't looked in the code yet, but what would be your opinion on the idea to change the name of `Should` for `Func<T>` to something like `ShouldSynchronousFunction`?

[2018-11-15 07:48] dennisdoomen commented on #964
No, it's the `Should` overloads that are causing the problem.

[2018-11-15 07:53] krajek commented on #964
Let me clarify.

I understand the fact that it is the `Should` overload that causes the problem. If it will turn out that we cannot avoid the problem we would need to do one of two. Either remove `Should` for `Func<T>` altogether or change the name of the extension method.

Assuming that my reasoning is sound, my question is whether, as a last resort, you would accept using other extension method

[2018-11-15 07:54] dennisdoomen commented on #964
Maybe we can keep the `Func<T>` overload and internally see if it's a `Task` and wait for it.

[2018-11-15 08:40] BrunoJuchli commented on #956
I suspect this fix caused a breaking change for us with the move from 5.4.2 to 5.5:

We globally configure the `AssertionOptions` like this:

    AssertionOptions.AssertEquivalencyUsing(options => options
                    .WithStrictOrdering()
                    .RespectingRuntimeTypes()
                    .IncludingAllRuntimeProperties();

We have one test which stopped working, again in con

[2018-11-15 09:13] dennisdoomen commented on #956
Thanks for that note @BrunoJuchli. Essentially < 5.5 contained a false positive that was fixed. I'll update the release notes.

[2018-11-15 09:41] michaelestermann opened #965 "BeEquivalentTo fails when comparing lists containing lists"
### Description

When we updated fluentassertions to the latest version 5.5.0, we encountered an issue with the BeEquivalentTo assertion.
When we compare a list of objects, which contains another list with the same items but different order, the test will fail, even though strict ordering is disabled.

### Repro

To reproduce this issue, I've created a repro repo which can be found here:
https://g

[2018-11-15 09:42] BrunoJuchli opened #966 "Provide opt-out to `AssertionOptions(o => o.WithStrictOrdering())`"
### Breaking change in 5.5 (coming from 5.4.2)

We globally set the default assertion equivalency options using:

	AssertionOptions.AssertEquivalencyUsing(options => options
		.WithStrictOrdering());

Because we believe it's safer to require strict ordering by default (I can provide a reasoning if anyone is interested).

Now, in special cases where the order did not matter, we used:

    collectio

[2018-11-15 09:47] dennisdoomen commented on #965
Hmm, that is very weird. Comparisons of collections never take into account the order, expect for `byte[]`.

[2018-11-15 10:42] BrunoJuchli commented on #966
@dennisdoomen I could provide a PR. I'm not really sure how to implement the feature, though, because...

- should `WithStrictOrdering` be adapted to not add multiple copies of `MatchAllOrderingRule`?
- should `OrderingRuleCollection` be adapted to not allow adding of multiple instances of identical rules?
- should there be only one instance of `MatchAllOrderingRule`? (might provide an (imperfect)

[2018-11-15 11:57] dennisdoomen commented on #966
What I don't understand is how this worked in previous versions. The code around ordering hasn't been changed for 9 months or so. That being said, I think multiple calls to `WithStrictOrdering`, `WithStrictOrderingFor` and `WithoutStrictOrdering` should allow chaining and be evaluated in order of execution.

[2018-11-15 15:22] BrunoJuchli commented on #966
@dennisdoomen

Allowed in the sense of not throwing an exception? What is the expected behavior? Some examples:

### Example 1

   WithoutStrictOrdering()
    WithStrictOrderingFor(XYZ)
    WithStrictOrdering()

behaves the same as as:

    WithStrictOrdering()

or is there a difference?

### Example 2

    WithoutStrictOrdering()
    WithStrictOrderingFor(XYZ)
    WithStrictOrdering()
    Without

[2018-11-15 17:56] jnyrup commented on #965
Here's a minimal example:

[code]

It hits an Exception in `GetBestResultSets()` when calling `set.Values.Min(r => r.Length)`, where `set` is an empty `Dictionary`.

Here's the stack when hitting that exception:

[code]

I just checked #911 caused the change.

[2018-11-15 18:03] dennisdoomen commented on #966
Example 2 should be the same as `WithoutStrictOrdering`. So the order is important.

[2018-11-15 19:09] jnyrup commented on #964
It seems doable with the following new overload of `Should()`

[code]

[2018-11-15 20:08] dennisdoomen commented on #966
Is it possible that the original issue that you raised is now fixed by #967 ?

[2018-11-15 20:20] #965 closed

[2018-11-15 20:21] dennisdoomen commented on #965
Will be part of 5.5.1

[2018-11-16 07:04] #964 closed

[2018-11-16 07:08] jnyrup commented on #964
@jeremyw5 Thanks again for the detailed issue description.
This is now fixed and will be a part of 5.5.1

[2018-11-16 07:13] jnyrup commented on #966
@BrunoJuchli Can you check if the failing tests contain empty lists?
Otherwise please provide a minimal complete verifiable example.

[2018-11-16 07:13] BrunoJuchli commented on #966
@dennisdoomen Thanks,yes, most likely it's fixed by #967

--------------

I believe it's still valuable to have the API allow overriding of defaults configured by `AssertionOptions.AssertEquivalencyUsing(....)`. While it's seems that our current approach of using `WithoutStrictOrdering(x => true)` works it's not very concise.

The implementation of FluentAssertions, however, does not actually over

[2018-11-16 07:17] dennisdoomen commented on #966
Sure. I'll change the label.

[2018-11-16 21:34] jnyrup opened #972 "BeInDescendingOrder by method"
### Description

Calling `BeInAscendingOrder` throws an `ArgumentException` when asserting that a collection is ordered by a non-property, e.g. `GetHashCode()`.

The exception is thrown from `GetMemberPath()`, but that method is not used in the ordering, but eagerly called twice, once in `IsValidProperty` and once when constructing the failure message.
I'm trying to make those failure message cons

[2018-11-17 07:53] dennisdoomen commented on #972
So you want to make it possible to use _any_ expression for ordering?

[2018-11-17 08:12] jnyrup commented on #972
Without having thought about this before yesterday, I think any expression valid in `OrderBy` should be valid for `BeInAscendingOrder`.
I haven't heard any user complaints about this and I only stumbled upon this yesterday, but it seems like an artificial limitation?

As this works
[code]
I think this should as well
[code]

[2018-11-17 08:41] dennisdoomen commented on #972
Not specifically related to this PR, but I'm feeling we're allowing FA to become inconsistent by allowing certain user contributions that heavily extend a certain API without adding the same functionality to other (similar) APIs. Can't give any concrete examples though

[2018-11-17 09:38] godrose opened #973 "ShouldBeEquivalentTo flags two seemingly equivalent objects"
### Description

Version 5.5.1 fails existing test - used to to work in 5.4.2

### Complete minimal example reproducing the issue

Checkout the following repo: https://github.com/LogoFX/logofx-client-mvvm-viewmodel
Run the Unit tests - all tests are green
Upgrade to 5.5.1
Run the Unit tests - now some are red.

### Expected behavior:

Tests remain green

### Actual behavior:

Some tests are red

#

[2018-11-17 12:41] jnyrup commented on #972
God point about consistency 👍
I'll keep that in mind, when reviewing PRs.

I'm fine with keeping this as it is, as I haven't heard any one requesting this.
I mostly wondered since `GetMemberPath()` was seemingly only used to generate a `MemberPath` used in the failure message, but also performed necessary validation.

[2018-11-17 13:19] godrose commented on #973
@jnyrup Thanks for the reply.
Please see whether this example is more suitable for you
https://github.com/godrose/FailingTest

The only test fails with the following message:
`
FluentAssertions.Execution.AssertionFailedException
Expected args.OldItems to be {System.Object (HashCode=45523402)}, but found {System.Object (HashCode=45523402)}.
`

Using previous version (5.4.2) restores the green state

[2018-11-17 13:42] jnyrup commented on #973
I don't have time to look deeper into this today, but I reduced the test case to this:

[code]

[2018-11-18 12:41] jnyrup commented on #973
@dennisdoomen If you haven't already located the it, `git bisect` marks b3b0245a56d1808b68d6fdbbf0ce95073e93d06a as the commit that changed behavior.

[2018-11-18 15:41] BrunoJuchli commented on #966
Should `WithoutStrictOrdering()` remove `ByteArrayOrderingRule`? It seems likely that strict byte array ordering is almost always demanded. This poses a design-problem though. Since it's possible it was removed from the default it's not clear whether it should be present after performing:

     .WithStrictOrdering()
     .WithoutStrictOrdering()

Personally, it seems risky to have `WithoutStrictOr

[2018-11-18 20:36] dennisdoomen commented on #966
I think you'll need to collect all ordering rules in some kind of collection and then evaluate the resulting ordering based on the order of the rules.

[2018-11-19 08:08] #973 closed

[2018-11-19 09:50] dennisdoomen commented on #973
Fixed in 5.5.2

[2018-11-19 09:52] dennisdoomen commented on #860
Is this issue still relevant?

[2018-11-21 14:03] 0xced commented on #679
Note to future readers: as of FluentAssertions 5.5.3 (maybe even earlier versions), asserting `XDocument` equivalency is straightforward:

[code]

[2018-11-21 14:19] dennisdoomen commented on #679
That would mean that it would compare the properties. Not sure if that gives you the right information.

[2018-11-21 14:38] 0xced commented on #679
Not sure what you mean by _it would compare the properties_. I looked at [XDocumentAssertions](https://github.com/fluentassertions/fluentassertions/blob/5.5.3/Src/FluentAssertions/Xml/XDocumentAssertions.cs#L104-L122) implementation and it uses [XmlReaderValidator](https://github.com/fluentassertions/fluentassertions/blob/5.5.3/Src/FluentAssertions/Xml/XmlReaderValidator.cs) which from what I unde

[2018-11-21 17:05] drauch commented on #679
@0xced: "compare the properties" means, that the type does not have to be the same one. You can even have an anonymous type on the rigthhand side of the comparison.

[2018-11-22 11:58] ursenzler opened #978 "ShouldBeEquivalentTo with option RespectingRuntimeTypes does not respect runtime types"
This test should fail IMHO, but it doesn't.
Am I wrong, or is this a bug? Maybe I misunderstood `RespectingRuntimeTypes`.

[code]

### Expected behavior:

The above test should fail because the elements in the lists of the containers have a different `A` vs. `B` and I specified to `RespectRuntimeTypes`.

### Actual behavior:

The test succeeds and does not detect the difference.

### Versions
[cod

[2018-11-22 12:08] dennisdoomen commented on #978
That's a bug. I just don't get yet why this is not covered by current set of unit tests.

[2018-11-22 12:13] ursenzler commented on #978
I guess the reason is that `FluentAssertions.Equivalency.Matching.MustMatchByNameRule`is applied, which is not enough, the Type should match as well. But that code is a bit too complicated to grasp in a couple of minutes :-)

[2018-11-22 12:15] ursenzler commented on #978
Probably because it's an object embedded in a list?!

[2018-11-22 12:18] ursenzler commented on #978
I find a test when the objects have different properties: `When_asserting_equivalence_of_collections_and_configured_to_use_runtime_properties_it_should_respect_the_runtime_type`

But no spec for the case when the properties are the same on different types.

[2018-11-22 13:04] dennisdoomen commented on #978
Wait, why do you think this should fail? Because both `A` and `B` have a property `S` which value is `A`

[2018-11-22 15:03] ursenzler commented on #978
Because I specified that it should respect runtime types. `A` != `B`.
Without the option, it would be just fine.

[2018-11-22 15:18] dennisdoomen commented on #978
Ah, now I understand what you mean. So that option is completely misleading. It's purpose is to have the equivalency check look at `A` and `B` as `A` and `B`, and not as `IItem`. FA will never compare the actual types.

[2018-11-23 07:33] dennisdoomen commented on #978
You could add an `IEquivalencyStep` to the list of equivalency step that will verify that the type of the subject and expectation are the same.

In general, the main purpose of the `BeEquivalentTo` API to be able to do a structural comparison.

[2018-11-23 10:03] ursenzler commented on #978
This is a great idea.

Unfortunately, I struggle to implement my own EquivalencyStep.

I have this:
[code]
But, whatever I write in the `CanHandle` method, the result is a `NullReferenceException` somewhere in FluentAssertions.

It should not handle any kind of collections (that's why I copied the IsCollection method from FluentAssertions).

Do you have a tip for me?

Additionally, I'm not sure wh

[2018-11-30 07:13] Mexanikus2006 opened #983 "Using Fluentassertions in .net vb"
### Description

I have some issues with using Fluentassertions in .net visual basic.

Can anyone send me links, documentation or examples how to use it to compare objects excluding some members ( in statements like this resultObject.Should.BeEquivalentTo(expectedObject) ) ?

Function override shows this form
![image](https://user-images.githubusercontent.com/45478716/49273811-9b6e5500-f48f-11e8-9

[2018-11-30 08:05] jnyrup commented on #983
From the [documentation](https://fluentassertions.com/documentation/#selecting-members) in the section about "Object graph comparison":
[code]

[2018-11-30 08:13] Mexanikus2006 commented on #983
Thank you Jonas for Reply, but this is not case for visual basic .net.
I have read the documentation and cannot find how to write it in my case.

[2018-12-04 11:34] Kikimora commented on #937
I was hit by same issue second time today, this time with classes overriding equals :(

[2018-12-05 20:04] #966 closed

[2018-12-05 20:04] BrunoJuchli commented on #966
Taken care of by #974

[2018-12-06 17:50] davisnw commented on #500
The suggested workaround of just checking "SelectedMemberPath" is too broad.  Sometimes I have the same property name on different classes, but only want to exclude it on one of the classes.  This is problematic when dealing with collections.

It seems like I should be able to due something with the `IMemberInfo` `Excluding` overload, but I haven't yet had success, and the documentation on the Flu

[2018-12-06 18:05] davisnw commented on #500
Figured out what I needed to do.  To debug the `Excluding` clause, you can do something like the following:

        //...
             .Excluding((IMemberInfo memberInfo) => Debug(memberInfo))
        //...
        public bool Debug(IMemberInfo memberinfo)
        {
            return false;
        }

This allows you to set breakpoints in the `Debug` method.

For my case, I wanted to exclude a s

[2018-12-07 16:55] dennisdoomen commented on #902
.NET Core 2.1 is already released.

[2018-12-07 17:01] jnyrup commented on #902
Yeah `Span<T>` is *also* natively available in .Net Core 2.1.
.Net Core 2.1 does not implement .Net Standard 2.1, but 2.0.
.Net Core 3.0 is the first to implement .Net Standard 2.1.

[2018-12-07 17:20] dennisdoomen commented on #902
It seems you're right https://blogs.msdn.microsoft.com/dotnet/2018/11/05/announcing-net-standard-2-1/

[2018-12-17 20:49] jnyrup commented on #902
Just to recap.

The following types
* [`Span<T>`](https://docs.microsoft.com/da-dk/dotnet/api/system.span-1?view=netcore-2.1)
* [`ReadOnlySpan<T>`](https://docs.microsoft.com/da-dk/dotnet/api/system.readonlyspan-1?view=netcore-2.1)
* [`Memory<T>`](https://docs.microsoft.com/da-dk/dotnet/api/system.memory-1?view=netcore-2.1)
* [`ReadOnlyMemory<T>`](https://docs.microsoft.com/da-dk/dotnet/api/system

[2018-12-18 12:13] AroglDarthu commented on #699
I agree that the collection comparison methods could really use overloads that take an IEqualityComparer<T>. Do you have a roadmap for that feature?

[2018-12-18 12:57] jnyrup commented on #699
@james-ecargo @AroglDarthu
Fluent Assertions is a spare time project, heavily driven by user contributions.
Unless an issue/PR is explicitly marked with a [milestone](https://github.com/fluentassertions/fluentassertions/milestones), there are no promises about if/when a suggestion will be available.

My earlier comment about API changes, was meant as suggestions in two ways:
* As a general discuss

[2018-12-20 07:27] #190 closed, assigned to nobody

[2018-12-20 08:06] jnyrup commented on #500
@davisnw Can you provide a complete example?
Or just mention which *specific* overload of `BeEquivalentTo` you are using?

If you use a generic overload of `BeEquivalentTo`, i.e. one where the expectation is *not* something like  `params object[]` or `IEnumerable`, this works:

[code]

Exluding the outer `Value`
[code]

Excluding the inner `Value`
[code]

[2018-12-20 16:08] mabead opened #985 "collection Should().BeEquivalentTo() vs position of first difference"
### Description

I use the collection `.Should().BeEquivalent()` to ensure that two collections are equivalent. When my two collections do not have the same size, it is very hard to know at which index the first difference was found.

### Complete minimal example reproducing the issue

Here's my test code:

[code]

### Expected behavior:

I would expect the test to fail with a message similar to t

[2018-12-30 07:16] rubenrorije opened #986 "Backslashes in subject or expected result are not correctly shown in the message"
### Description
It seems that when running a test on a string variable backslashes are escaped incorrectly. Especially trailing backslashes are removed from the message.

### Complete minimal example reproducing the issue
See multiple unit tests in this gist: https://gist.github.com/rubenrorije/2caf183ffb7e598546d220797252795c

One of the examples of the unit tests:
[code]

### Versions
Fluent Ass

[2019-01-02 20:29] erlis opened #988 "BeEquivalent() is not working when Excluding members from an FSharp Record"
### Description

Using Should().BeEquivalent() fails when excluding members that are define in an FSharp record

### Complete minimal example reproducing the issue

define a record in Fsharp and use it in a Should().BeEquivalent() excluding one of the fields, make everything the same except the field you are excluding and it fails when it should pass.

Excluding is not working for Fsharp records.

[2019-01-08 19:58] jnyrup opened #990 "Assertions for Func<Task<T>>"
Currently both `Func<Task>` and `Func<Task<T>>` are handled by `AsyncFunctionAssertions` which has a `Subject` of type `Func<Task>` and hence ignores the return value for `Func<Task<T>>`.

If we split `AsyncFunctionAssertions` into:
* `AsyncFunctionAssertions` for `Func<Task<T>>`, and
* `AsyncActionAssertions` for `Func<Task>`

That should enable us to return the result of `Task<T>` for further as

[2019-01-08 20:05] dennisdoomen commented on #990
Yeah, sounds like a good idea.

[2019-01-11 20:22] jnyrup opened #991 "Improve formatting of multidimensional arrays"
When calling `Formatter.ToString(object)` on a jagged array such as
[code]

the output contains the nested structure as expected.
[code]

Calling `Formatter.ToString(object)` on a multidimensional array such as
[code]

gives an unexpected (and perhaps confusing) visual result, as it doesn't contain the nested structure.
[code]

This could probably be improved by introducing a new `Multidimensional

[2019-01-12 18:40] frederik-h commented on #940
@eajhnsn1 `NotThrowAfter` has been included in the latest release of Fluent Assertions. You can give it a try and see if it does what you need.

[2019-01-12 18:40] #940 closed

[2019-01-13 09:02] jnyrup commented on #983
The documentation is written with C# examples, so in Visual Basic the same code can be written as
[code]

[2019-01-13 09:05] jnyrup commented on #961
Closing for now.
Feel free to re-open, if you've got clarifications

[2019-01-13 09:05] #961 closed

[2019-01-13 10:42] jnyrup commented on #988
Hi @erlis

From your sparse issue description I have very little clue on what went wrong.
You didn't post a *complete minimal example*, that means actual code I can copy/paste into e.g. Visual Studio and run, so I'll have to guess what problem you're having.

I haven't done F# before, but I tried reproducing your issue

[code]

and got this error
[code]

Now we need *your* help.
1. Is that the sam

[2019-01-13 14:20] jnyrup commented on #988
As record types overrides `Equals(object)` Fluent Assertions per default does not perform a structural equivalency check.
To do this, and thereby respecting the `Excluding`, use [`ComparingByMembers()`](https://fluentassertions.com/documentation/#value-types):
[code]

[2019-01-14 20:45] erlis commented on #988
Hi Jonas,

To test this you don't have to code in FSharp, you can do your test in C# as usual, just declare the Record in FSharp and you will have the result you are posting. This is what I'm doing, I'm defining some value types in Fsharp and coding in C#.

I'll give it a try to the ComparingByMembers. I was not aware of it. I always though that Should().BeEquivalentTo() was doing exactly that....

[2019-01-15 08:22] jnyrup commented on #988
The function that determines the default comparison strategy is `HasValueSemantics()`
https://github.com/fluentassertions/fluentassertions/blob/1b796f84f62cb54a237b8f4f81968ca5d892ae4d/Src/FluentAssertions/Common/TypeExtensions.cs#L415-L419

That behavior can be overridden with either `ComparingByMembers()` or `ComparingByValue()`.

[2019-01-17 10:39] maradik commented on #988
How can I globally setup the strategy to using ComparingByMembers for all reference types (ignore condition type.OverridesEquals())?

[2019-01-17 10:58] dennisdoomen commented on #988
[code]

See also https://fluentassertions.com/documentation/

[2019-01-17 19:56] bichuga opened #993 "FluentAssertions package is not Authenticode signed"
### Description

FluentAssertions package is not Authenticode signed

### Complete minimal example reproducing the issue

Our compliance requirement to use this package to prevent supply-chain attacks is that it is Strong Name and Authenticode signed. StrongName proves it was not tampered, and Authenticode proves who produced the binary.

### Actual behavior:
FluentAssertions binaries are StrongNa

[2019-01-17 21:53] jnyrup commented on #988
@erlis I'm glad you found a solution.
Yes, Fluent Assertions also compares `internal` when using `BeEquivalentTo`.

[2019-01-17 21:53] #988 closed

[2019-01-20 16:15] balanikas opened #994 "Extensions for HttpResponseMessage"
### Extensions for HttpResonseMessage to be used in rest api tests

I have written a few custom extensions that can be used in integration tests targeting rest apis.
They are meant to be used in typically these scenarios:

[code]

Since testing rest apis is quite common, I would like to contribute those into fluentassertions in some forms.
However, i am not sure if this repository is the best plac

[2019-01-30 13:28] nvirth opened #995 "ShouldBeEquivalentTo gives false positive for values not implementing IConvertible"
### Description

`ShouldBeEquivalentTo` gives false positive for values not implementing `IConvertible`

### Complete minimal example reproducing the issue

Please check code below:

[code]

Here, at `// [1]`, the assertion does not fail, the test succeeds.

### Expected behavior:

Assertion should fail at `// [1]`, because Value properties have different values

### Actual behavior:

Assertions d

[2019-01-30 13:51] jnyrup commented on #995
Is it possible for you to upgrade to Fluent Assertions 5.x.x?
From version 4 to 5 we reworked `ShouldBeEquivalentTo` a *lot* to work more as expected.
For more information, see https://www.continuousimprover.com/2018/02/fluent-assertions-50-best-unit-test.html#moving-towards-a-unified-api

[2019-01-30 16:10] nvirth commented on #995
Thank you for the information!
We will schedule an upgrade.
Until that, I'm closing this issue now; if still reproducible after the upgrade, I will reopen it.

[2019-01-30 16:10] #995 closed

[2019-01-31 10:13] DerAlbertCom commented on #699
Just to throw in an alternate syntax for the suggestion of @jnyrup
[code]
I don't think i like that and it is contrary to the normal usage of comparers. So, i think we should go with the suggestions.

If no one is agains the syntax i will give them a spin next week.

Starting with
[code]

To see if I get the code and error messages right.

[2019-01-31 10:18] DerAlbertCom commented on #699
An alternative way would could be
[code]
With that there my be better error messages possible.

[2019-02-02 21:06] jnyrup commented on #985
For anyone willing to pick up this task, be aware that comparing sequences with `BeEquivalentTo` can compare collections in either `WithStrictOrdering()` or `WithoutStrictOrdering()`, where the latter is the default.
The difference in strictness should be reflected in the failure message, as only strict ordering requires the sequence elements to match index by index.

As pointed out, including eve

[2019-02-02 21:44] jnyrup commented on #983
Closing for now.
Feel free to re-open if my answer didn't solve your problem.
If your problem is not about an issue in Fluent Assertion, but *how* to use Fluent Assertions in VB.net StackOverflow might be a better/quicker resource to use.

[2019-02-02 21:44] #983 closed

[2019-02-04 07:11] pooventhan opened #996 "Subset assertion for complex object collection"
Hi,

I'm trying to verify if a collection is a subset of another.

[code]
Both assertions above does not produce expected outcomes.

However, if the collections are made up of simple type, both assertions above produce expected outcomes.
[code]
**Versions**
- FluentAssertions: 5.6.0
- .NET Core 2.1

Is there any configuration required to assert collection of complex objects?
Appreciate if anyone c

[2019-02-04 07:18] dennisdoomen commented on #996
That's because those APIs use the object's `Equals` implementation. Your `ApiResponse` probably doesn't. So unless you're willing to "pollute" your classes with an `Equals` implementation, there's no such API. The closests to that is `Should().BeEquivalentTo` which does compare entire object graphs. See https://fluentassertions.com/documentation/#object-graph-comparison

[2019-02-04 10:39] balanikas commented on #994
Thanks for feedback, and I agree with your reasoning.
I created this separate package instead, https://www.nuget.org/packages/FluentAssertions.Http/1.0.0-beta1

Can I close this issue now? Or should I leave it?

[2019-02-04 10:45] dennisdoomen commented on #994
No, it can be closed.

[2019-02-04 10:45] #994 closed

[2019-02-04 10:46] dennisdoomen commented on #994
If you link me to an announcement tweet of some kind, let me know. I'll retweet.

[2019-02-04 12:23] balanikas commented on #994
Thanks @dennisdoomen I will let it mature a bit and then let you know

[2019-02-04 17:06] pooventhan commented on #996
Hi @dennisdoomen,

Thanks for the clarification. I've worked around this without overriding the `Equals` implementation.

[code]

[2019-02-04 17:06] #996 closed

[2019-02-04 17:11] dennisdoomen commented on #996
If you do it like that, you don't need to override `Equals`. `ContainEquivalentTo` will do a structural comparison of the properties of each object.

[2019-02-06 09:24] danstur opened #997 "Missing StringAssertions::NotBeEquivalentTo"
Is there any reason why `StringAssertions::NotBeEquivalentTo` does not exist? It would seem an useful addition to the current library and should be easy to implement (it could simply be the negation of BeEquivalentTo).

Or is it simply a case of "nobody has implemented it yet"? I wouldn't mind providing a PR for the functionality in this case.

[2019-02-06 10:35] m-ringler opened #998 "Ordering assertions in CollectionAssertions should use IComparer, not IComparer<object>"
### Description
The ordering assertions in `CollectionAssertions` expect an `IComparer<object>`, although the declared type of the items in the collection does not need to be object. This makes it hard to use standard comparers such as `StringComparer` and comparers derived from `Comparer<T>`.

### Complete minimal example reproducing the issue

The following does not compile:

[code]

### Expecte

[2019-02-06 12:26] dennisdoomen commented on #997
Exactly that ;-)

[2019-02-06 12:37] dennisdoomen commented on #998
We could add an overload that takes an `IComparer`, but I'm not sure if this will cause a compiler ambiguity when you provide a type that implements both `IComparer` and `ICompare<T>`.

[2019-02-06 15:38] m-ringler commented on #998
If you have an ambiguity between overloads with `IComparer` and `IComparer<T>` (or `IComparer<object>` if you want to keep that for backwards compatibility) you can always disambiguate by casting the actual comparer object to the desired interface:
`actual.Should().BeInAscendingOrder((IComparer)myComparer); `

If one overload is a generic method (`GenericCollectionAssertions.BeInAscendingOrder<T>(

[2019-02-06 16:15] dennisdoomen commented on #998
True, but technically that would be a breaking change.

[2019-02-06 19:38] m-ringler commented on #998
It should be possible to add something like `BeInAscendingOrder<T>(IComparer<T>)` to `GenericCollectionAssertions<T>` without compiler errors. There would be no ambiguity because overload resolution prefers the method in the derived class to the base class method (see section Inheritance in http://www.csharpindepth.com/Articles/General/Overloading.aspx and code example below).

It would still be a

[2019-02-06 19:54] m-ringler commented on #998
An overload with `Comparison<T>` would avoid the breaking change entirely and also address the problem. For then we could write
`actual.Should().BeInAscendingOrder(StringComparer.CurrentCultureIgnoreCase.Compare);`
with the downside that that's not very obvious.

[2019-02-06 21:20] jnyrup commented on #998
`GenericCollectionAssertions` already has three overloads of `BeInAscendingOrder`.
One that takes an [`Expression<Func<T, TSelector>> propertyExpression`](https://github.com/fluentassertions/fluentassertions/blob/a144189242ec4bf796041c3292072aca67951938/Src/FluentAssertions/Collections/GenericCollectionAssertions.cs#L126) allowing you to write
[code]

one overload that takes an [`IComparer<T>`](ht

[2019-02-06 21:52] m-ringler commented on #998
Ah ok, sorry. I had assumed that what you get from stringArray.Should() was an instance of `GenericCollectionAssertions<string>` or a subclass. Then it's really just an issue with string collections.

[2019-02-07 17:24] jnyrup commented on #998
No worries, I've been confused about that before as well.

For some future major release I hope we can overhaul the collection assertions more.

[2019-02-08 13:30] dogfoodsilo4 opened #999 "Should().BeEquivalentTo() failing with tuples containing arrays"
Hi,

Using version 5.6, I stumbled across this anomaly.  It is not a major issue (I've worked around it) but I wanted to highlight it and understand the cause.

The following comparison fails:

[code]

...with the error:

`Expected a to be (Hello, True, System.Int32[]), but found (Hello, True, System.Int32[]).`

If I find some time, I'll take a look at the source code myself.

Ta.

[2019-02-15 10:01] dennisdoomen opened #1000 "Proposal: Dictionary equivalency checks should not complain about extraneous keys"
Just like comparing an object to an anonymous type using `Should().BeEquivalentTo()`, comparing two dictionaries like this should not care about extra keys in the original dictionary.

This redefines what _equivalent_ means for dictionaries:

@jnyrup ?

[2019-02-16 08:09] jnyrup commented on #1000
I think `BeEquivalentTo` should be driven by the *shape* of the expectation.

If you look at a dictionary as a collection of key-value-pairs, which is what it implements in terms of `ICollection<KeyValuePair<TKey, TValue>>`, I don't think it makes sense.

If you look at a dictionary as a dynamic structure, where you use keys instead of defining properties, then it *could* make sense to me, as the

[2019-02-16 13:13] dennisdoomen commented on #1000
So to make sure I understand you correctly, you mean to say that two dictionaries are equivalent if they contain the same keys with values that are equivalent?

[2019-02-16 13:20] jnyrup commented on #1000
Yes.

[2019-02-16 16:52] dennisdoomen commented on #1000
Alright. Closing this proposal.

[2019-02-16 16:52] #1000 closed

[2019-02-27 17:05] lg2de commented on #990
I would like to combine this extension with an additional feature:
[code]

The test would fail if the Task does not complete within specified time span.

What do you think about such feature?

[2019-02-27 19:28] dennisdoomen commented on #990
That's a nice idea, and a very useful one as well.

[2019-02-28 11:51] lg2de commented on #990
While thinking about the implementation I would like to check whether my "Complete" extension should be based on `Func<Task<T>>` or maybe better on `Task<T>`.
The latter would result into easier usage:
[code]

In this case my changes would not touch anymore the refactoring mentioned by @jnyrup.

[2019-02-28 13:06] jnyrup commented on #990
@lg2de I would prefer if you opened a new issue with an API proposal describing the purpose of the functions and their function signatures.

[2019-02-28 13:40] lg2de opened #1001 "Assertion that asynchronous operation completes within time span"
Testing asynchronous operations is currently available like this:
[code]

I'm missing the option just check, that the operation will complete (and not throw) within specific time range. Therefore a new assertion could be created:
[code]

Such an idea I already mentioned in #990.

While thinking about the implementation I found a different approach.
Why to I need the indirection using "Invoking"? W

[2019-03-01 09:35] #986 closed

[2019-03-01 13:10] lg2de opened #1002 "BeOfType does not attach to the AssertionScope"
### Description

BeOfType seems not to (fully) support AssertionScope.
Failed assertion will immediately cause to exit the scope.
I think it is related to direct cast of the subject to the expected type which may throw an InvalidCastException.

### Complete minimal example reproducing the issue

[code]

### Expected output
Expected x to be "Z" with a length of 1, but "" has a length of 0, differs

[2019-03-01 13:31] jnyrup commented on #1002
Nice catch @lg2de

It looks similar to #838, so you can I agree you can create a PR to fix this 👍

It looks like `BeAssignableTo` suffers the same problem.
If you'd like, feel free to include a fix for that as well.

[2019-03-02 22:08] lg2de opened #1003 "Tests are language dependent"
I wondered why some tests fail while your build seams to complete successfully.

I found, that some tests are language dependend, e.g. `When_asserting_collections_not_to_be_equal_but_expected_collection_is_null_it_should_throw`:
[code]

The test verifies the text from exception, but the ArgumentNullException generates text depending on user/windows settings. On my (german) system the text is "Para

[2019-03-03 06:55] dennisdoomen commented on #1003
I would go for option 2. I would always code in English. In the Netherlands, it's quite common to work with non-Dutch developers.

Regardless, this issue is not related to Fluent Assertions.

[2019-03-03 06:55] #1003 closed

[2019-03-03 08:12] lg2de commented on #1003
Hi @dennisdoomen, I think this is a misunderstandig: I was talking about the Unit Tests of FluentAssertions. So, it is related to FA.
I'm coding in English, but other things are fine in German. So, I would like to have configured my Windows to German. But THAN "your" Fluent Assertions Unit Tests will fail.

I think, this should be fixed. The tests should NOT be related to the language selected for